﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zanshin Academy - Dashboard</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/datepicker3.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>Zanshin </span>Academy</a>
                @using (Html.BeginForm("Logout", "Users", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <em class="fa fa-envelope"></em>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                @*<li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
                                        </a>
                                        <div class="message-body">
                                            <small class="pull-right">3 mins ago</small>
                                            <a href="#"><strong>John Doe</strong> commented on <strong>your photo</strong>.</a>
                                            <br /><small class="text-muted">1:24 pm - 25/03/2015</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
                                        </a>
                                        <div class="message-body">
                                            <small class="pull-right">1 hour ago</small>
                                            <a href="#">New message from <strong>Jane Doe</strong>.</a>
                                            <br /><small class="text-muted">12:27 pm - 25/03/2015</small>
                                        </div>
                                    </div>
                                </li>*@
                                <li class="divider"></li>
                                <li>
                                    <div class="all-button">
                                        <a href="@Url.Action("Index", "Contacts")">
                                            <em class="fa fa-inbox"></em> <strong>All Messages</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li> 
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <em class="fa fa-user"></em>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <em class="fa fa-user"></em> @User.Identity.Name
                                           
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <div>
                                            <em class="fa fa-power-off"></em>Logout
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img class="img-responsive" src="~/images/zanshin_logo_icon.png" />
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">Administrator</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <ul class="nav menu">
            <li ><a href="@Url.Action("Index", "Cpanel")"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-0">
                    <em class="fa fa-university">&nbsp;</em>Martial Arts<span data-toggle="collapse" href="#sub-item-0" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-0">
                    <li>
                        <a class="" href="@Url.Action("Index", "Courses")">
                            <span class="fa fa-tasks">&nbsp;</span> Courses
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "Students")">
                            <span class="fa fa-male">&nbsp;</span> Students
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "FeeCollections")">
                            <span class="fa fa-inr">&nbsp;</span> Fee
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "Gradings")">
                            <span class="fa fa-graduation-cap">&nbsp;</span> Grading
                        </a>
                    </li>
                </ul>
            </li>
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-1">
                    <em class="fa fa-shirtsinbulk">&nbsp;</em>Uniform <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-1">
                    <li>
                        <a class="" href="@Url.Action("Index", "Uniforms")">
                            <span class="fa fa-arrow-right">&nbsp;</span> Uniform Purchase
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "UniformSupplies")">
                            <span class="fa fa-arrow-right">&nbsp;</span> Uniform Supply
                        </a>
                    </li>
                </ul>
            </li>
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-2">
                    <em class="fa fa-pencil ">&nbsp;</em>Blog <span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-2">
                    <li>
                        <a class="" href="@Url.Action("Index", "Authors")">
                            <span class="fa fa-user-secret">&nbsp;</span>Add Author
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "Blogs")">
                            <span class="fa fa-weixin">&nbsp;</span> Write Blog
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index", "Testimonials")"><em class="fa fa-comment">&nbsp;</em> Testimonials</a></li>
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-3">
                    <em class="fa fa-camera">&nbsp;</em>Photo Gallery <span data-toggle="collapse" href="#sub-item-3" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-3">
                    <li>
                        <a class="" href="@Url.Action("Index", "Events")">
                            <span class="fa fa-cubes">&nbsp;</span>Add Photo Events
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Index", "PhotoGalleries")">
                            <span class="fa fa-camera-retro">&nbsp;</span> Add Photos
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index", "NewsEvents")"><em class="fa fa-newspaper-o">&nbsp;</em> News &amp; Events</a></li>
            <li><a href="@Url.Action("Index", "Contacts")"><em class="fa fa-envelope-o">&nbsp;</em> Messages</a></li>
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-4">
                    <em class="fa fa-gears">&nbsp;</em>Settings <span data-toggle="collapse" href="#sub-item-4" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-4">
                    <li>
                        <a class="" href="@Url.Action("Create", "UsersEdit")">
                            <span class="fa fa-pencil-square-o">&nbsp;</span>Admin Registration
                        </a>
                    </li>
                    <li>
                        <a class="" href="@Url.Action("Details", "UsersEdit")">
                            <span class="fa fa-pencil-square-o">&nbsp;</span>Edit Profile
                        </a>
                    </li>
                    <li>
                        <a class="" href="#">
                            <span class="fa fa-ellipsis-h">&nbsp;</span> Change Password
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                @using (Html.BeginForm("Logout", "Users", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a href="javascript:document.getElementById('logoutForm').submit()"><em class="fa fa-power-off">&nbsp;</em> Logout</a>
                }
            </li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">Dashboard</li>
            </ol>
        </div><!--/.row-->

    <!--/.row-->

       @RenderBody()
    </div>	<!--/.main-->

    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/chart.min.js"></script>
    <script src="~/js/chart-data.js"></script>
    <script src="~/js/easypiechart.js"></script>
    <script src="~/js/easypiechart-data.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
		window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
    </script>

</body>
</html>