﻿<!DOCTYPE html>
<html>
<head>
    <!-- google analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115755151-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-115755151-1');
    </script>
  <!-- end google analytics-->
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index,archive,follow">
    <meta name="description" content="Zanshin Martial Arts Academy in Kochi, Self Defence Coaching Kochi, Karate in Kochi, Karate Ernakulam, Kobudo Training Kochi, Aikido Training Ernakulam, Tai Chi Classess in Kochi, Yoga Therapy in Kochi." itemprop="description">
    <meta name="keywords" content="Karate Class Ernakula, Taichi Training Ernakulam, Taekwondo Kochi,Self Defence Kochi, Yoga Training, Yoga Therapy Kochi" itemprop="keywords">
    <meta property="og:tags" content="Karate Class Ernakula, Taichi Training Ernakulam, Taekwondo Kochi, Yoga Training, Yoga Therapy Kochi">
    <meta name="news_keywords" content="Karate Class Ernakula, Taichi Training Ernakulam, Taekwondo Kochi, Yoga Training, Yoga Therapy Kochi">
    <meta property="og:title" content="Karate Class Ernakula, Taichi Training Ernakulam, Taekwondo Kochi,Self Defence Kochi, Yoga Training, Yoga Therapy Kochi" />
    <meta name="twitter:title" content="Zanshin Academy of Martial Arts - Karate, Taekwondo, Kobudo, Aikido, Tai chi , Yoga Therapy in Kochi, Ernakulam" />
    <meta property="og:description" content="Karate Class Ernakula, Taichi Training Ernakulam, Taekwondo Kochi,Self Defence Kochi, Yoga Training, Yoga Therapy Kochi">
    <meta property="og:type" content="martial arts" />
    <meta property="og:image" content="http://zanshinacademy.in/images/zanshin_logo_large.jpg" />
    <meta property="og:site_name" content="Zanshin Academy of MartialArts" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes">
    <meta property="fb:app_id" content="597663906981076" />
    <meta property="og:url" content="http://www.zanshinacademy.in/Main/Index" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <!-- Page Title -->
    <title>Zanshin Academy of Martial Arts - Keeps you alert and aware...</title>

    <!-- Favicon and Touch Icons -->
    <link href="~/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="~/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <!-- Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="~/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="~/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="~/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- Revolution Slider 5.x CSS settings -->
    <link href="~/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

    <!-- CSS | Theme Color -->
    <link href="~/css/colors/theme-skin-yellow.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="~/js/jquery-2.2.4.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="~/js/jquery-plugin-collection.js"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="~/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <img src="~/images/preloaders/1.gif" alt="">
        </div>
        <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
    </div>
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-top bg-blue-111 sm-text-center p-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget no-border m-0">
                            <ul class="list-inline xs-text-center text-white mt-5">
                                <li class="m-0 pl-10 pr-10"> <a href="#" class="text-white"><i class="fa fa-phone text-theme-colored"></i> 94467 66111</a> </li>
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-theme-colored"></i> 7 days  </li>
                                <li class="m-0 pl-10 pr-10"> <a href="#" class="text-white"><i class="fa fa-envelope-o text-theme-colored"></i> mail@zanshinacademy.in</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 pr-0">
                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-flat icon-sm pull-right flip sm-pull-none sm-text-center mt-sm-15">
                                <li><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram text-white"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-colored btn-flat btn-theme-colored " href="@Url.Action("CourseRegister", "Main", null)"><strong>Register</strong></a>
                        @*<a class="btn btn-colored btn-flat btn-theme-colored ajaxload-popup pb-10" href="ajax-load/form-appointment.html"><strong>Quick Contact</strong></a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
                <div class="container">
                    <nav id="menuzord-right" class="menuzord">
                        <a class="menuzord-brand pull-left flip" href="javascript:void(0)">
                            <img src="~/images/logo-wide.png" alt="">
                        </a>
                        <ul class="menuzord-menu">
                            <li class="active">
                                <a href="@Url.Action("Index","Main")">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                                <ul class="dropdown">
                                    <li><a href="@Url.Action("Zanshin", "Main")">Zanshin Academy</a></li>
                                    <li><a href="@Url.Action("VisionMission", "Main")">Vision & Mission</a></li>
                                   
                                </ul>
                            </li>
                            <li>
                                <a href="#">Martial Arts</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="@Url.Action("KarateClass", "Main", null)">Karate </a>
                                        <ul class="dropdown">
                                            <li><a href="@Url.Action("KarateStyle", "Karate", null)">Our Karate Style</a></li>
                                            <li><a href="@Url.Action("Linage", "Karate", null)">Our Linage</a></li>
                                            <li><a href="@Url.Action("Katas", "Karate", null)">Seibukan Katas</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("KobudoClass", "Main", null)">Kobudo</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AikidoClass", "Main", null)">Aikido</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("TeakwondoClass", "Main", null)">Taekwondo</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Style & Affiliation</a></li>
                                            <li><a href="#">Intructor</a></li>
                                            <li><a href="#">Grading</a></li>
                                            <li><a href="#">Class / Timing</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("BoxingClass", "Main", null)">Boxing</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("TaiChiClass", "Main", null)">Tai Chi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Yoga</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="@Url.Action("YogaTraining", "Yoga", null)">Yoga Training Batches </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("YogaRegulartClass", "Yoga", null)">Yoga Regular classes</a>
                                    </li>
                                    <li>
                                        <a href="#">Yoga Therapy</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Asthama</a></li>
                                            <li><a href="#">Diabetes</a></li>
                                            <li><a href="#l">Arthiritis</a></li>
                                            <li><a href="#">Obesity</a></li>
                                            <li><a href="#">Stress Management</a></li>
                                            <li><a href="#">High BP</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Galleris</a>
                                <ul class="dropdown">
                                    <li><a href="@Url.Action("PhotoGallery", "Main", null)">Photo Gallery</a></li>
                                    <li><a href="#">Video Gallery</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("NewsEvents", "Main", null)">News &amp; Events</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="@Url.Action("Blogs", "Main", null)">Blog</a>
                                        @*<ul class="dropdown">
                                            <li><a href="#">Shorin Ryu Seibukan History</a></li>
                                            <li><a href="#">Shorin Ryu Linage</a></li>
                                            <li><a href="#">Karate Maxims</a></li>
                                            <li><a href="#">Seibukan Katas</a></li>
                                        </ul>*@
                                       
                                    </li>
                                    
                                </ul>
                            </li>
                            <li>
                                
                                <a href="#">Contact </a>
                                <ul class="dropdown">
                                    <li> <a href="@Url.Action("Address", "Main", null)">Address </a></li>
                                    <li><a href="@Url.Action("CourseRegister", "Main", null)">Registration Form</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- beging main body-->
    @RenderBody()
    <!-- end main body-->
    <!--beging footer-->
    <footer id="footer" class="footer layer-overlay overlay-dark-9" data-bg-img="images/bg/bg19.jpg">
        <div class="container pt-70 pb-40">
            <div class="row border-bottom-black">
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <img class="mt-10 mb-20" alt="" src="~/images/logo-wide-white.png">
                        <p>Near M.A.J Hospital, Edappally, Kochi-682024, Kerala, India</p>
                        <ul class="list-inline mt-5">
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">+91 94467 66111</a> </li>
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">mail@zanshinacademy.in</a> </li>
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"></i> <a class="text-gray" href="#">www.zanshinacademy.in</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Latest News</h5>
                        <div class="latest-posts">
                            @*@Html.Partial("_NewsEventsList")*@
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a href="#" class="post-thumb"><img src="~/images/news/self-defence_news.jpg" /></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-5"><a href="#">Self Defense Seminar</a></h5>
                                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                                </div>
                            </article>
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a href="#" class="post-thumb"><img src="~/images/news/aikido_news.jpg" /></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-5"><a href="#">Aikido Classes</a></h5>
                                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                                </div>
                            </article>
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a href="#" class="post-thumb"><img src="~/images/news/taichi_news.jpg" /></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-5"><a href="#">Tai Chi training</a></h5>
                                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Useful Links</h5>
                        <ul class="list angle-double-right list-border">
                            <li><a href="#">Mixed Martial Arts</a></li>
                            <li><a href="#">Self Defence</a></li>
                            <li><a href="#">Yoga Therapy</a></li>
                            <li><a href="#">Yoga Courses</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Opening Hours</h5>
                        <div class="opening-hours">
                            <ul class="list-border">
                                <li class="clearfix">
                                    <span> Mon - Tues :  </span>
                                    <div class="value pull-right flip"> 6.00 pm - 9.00 pm </div>
                                </li>
                                <li class="clearfix">
                                    <span> Wednes - Thurs :</span>
                                    <div class="value pull-right flip"> 6.00 pm - 9.00 pm </div>
                                </li>
                                <li class="clearfix">
                                    <span> Fri - Sat : </span>
                                    <div class="value pull-right flip"> 6.00 pm - 9.00 pm </div>
                                </li>
                                <li class="clearfix">
                                    <span> Sun : </span>
                                    <div class="value pull-right flip"> 8.00 am - 9.00 am </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-md-5">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Subscribe Us</h5>
                        <!-- Mailchimp Subscription Form Starts Here -->
                        <form id="mailchimp-subscription-form-footer" class="newsletter-form">
                            <div class="input-group">
                                <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer">
                                <span class="input-group-btn">
                                    <button data-height="45px" class="btn bg-theme-colored text-white btn-xs m-0 font-14" type="submit">Subscribe</button>
                                </span>
                            </div>
                        </form>
                        <!-- Mailchimp Subscription Form Validation-->
                        <script type="text/javascript">
              $('#mailchimp-subscription-form-footer').ajaxChimp({
                  callback: mailChimpCallBack,
                  url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
              });

              function mailChimpCallBack(resp) {
                  // Hide any previous response text
                  var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                      $response = '';
                  $mailchimpform.children(".alert").remove();
                  if (resp.result === 'success') {
                      $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                  } else if (resp.result === 'error') {
                      $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                  }
                  $mailchimpform.prepend($response);
              }
                        </script>
                        <!-- Mailchimp Subscription Form Ends Here -->
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Call Us Now</h5>
                        <div class="text-gray">
                            +91 94467 66111 <br>
                            +91 94461 34337 
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Connect With Us</h5>
                        <ul class="styled-icons icon-dark icon-circled icon-sm">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom bg-black-333">
            <div class="container pt-20 pb-20">
                <div class="row">
                    <div class="col-md-6">
                        <p class="font-11 text-black-777 m-0">Copyright &copy;2017 Zanshin Academy. All Rights Reserved | Powered by <a href="http://klickevents.in" target="_blank"> Klickevents Infosolutions (P) Ltd.</a></p>
                    </div>
                    <div class="col-md-6 text-right flip">
                        <div class="widget no-border m-0">
                            <ul class="list-inline sm-text-center mt-5 font-12">
                                <li><a href="#">FAQ</a></li>
                                <li>|</li>
                                <li><a href="#">Help Desk</a></li>
                                <li>|</li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- end wrapper -->
    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="~/js/custom.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
          (Load Extensions only on Local File Systems !
           The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>


</body>
</html>