﻿@model IEnumerable<ZanshinAcademy.Models.NewsEvent>

@foreach (var item in Model) {
   

<div class="latest-posts">
    <article class="post media-post clearfix pb-0 mb-10">
        <a href="#" class="post-thumb"><img alt="" src="~/images/news/@item.Image"></a>
        <div class="post-right">
            <h5 class="post-title mt-0 mb-5"><a href="#">@item.Event</a></h5>
            <p class="post-date mb-0 font-12">@item.EventFrom - @item.EventTo</p>
        </div>
    </article>

</div>
}
