﻿@model ZanshinAcademy.Models.Grading

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Grading</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Course1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Course1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradingFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradingFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Examiner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examiner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GradingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
