﻿@model IEnumerable<ZanshinAcademy.Models.Grading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Grading</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Course1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradingFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Examiner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Course1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradingFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Examiner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GradingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GradingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GradingID })
        </td>
    </tr>
}

</table>
