﻿@model ZanshinAcademy.Models.NewsEvent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NewsEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsEventsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
