﻿@model IEnumerable<ZanshinAcademy.Models.NewsEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.EventFrom)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.EventFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTo)
        </td>
       
        <td>
            <img src="~/images/news/@item.Image" width="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NewsEventsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewsEventsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewsEventsID })
        </td>
    </tr>
}

</table>
