﻿@model IEnumerable<ZanshinAcademy.Models.FeeCollection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Fee Collection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Course1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Course1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeeCollectionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FeeCollectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeeCollectionID })
        </td>
    </tr>
}

</table>
