﻿
@{
    ViewBag.Title = "KarateStyle";
}

<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://zanshinacademy.in/images/bg/Shuri_Castle1937.jpg">
        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">Shorin Ryu Seibukan Karate Do</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="pull-left mr-15 thumbnail" src="~/images/classes/SeibukanLogo.jpg" />
                    <h3> TRADITIONAL KARATE</h3>
                    <p>Perhaps the most popular of all martial arts, the art of Karate-do was born on the island of Okinawa. It is located just south of the Japanese coast. Known as the “Cradle of Karate”, this island has a very rich culture and tradition of martial arts. Traditional Karate-do is what is still practised on this island.
                        Traditional Okinawan Karate is different from the more popular ‘sport’ styles of (mainland) Japanese Karate. While sport-style techniques and combat is also taught in Okinwan systems, it is mostly used as a tool to promote Karate amongst youngsters and encourage them to train harder. However, most Masters believe that ‘sports Karate’ is killing the real art, since most of the technique are pulled back, and executed in a manner that will score points, but will not hurt the opponent. For that reason, in Traditional Karate dojos, the emphasis remains on the teaching of traditional techniques and methods of execution, which are mostly forbidden in modern tournaments, but are extremely effective in real life-and-death situations.
                    Zanshin Academy teaches Traditional Karate, exactly as taught on the island of Okinawa. The style is called Shorin Ryu: one of the oldest Karate styles in the world. Shorin Ryu is the parent style from which many of today’s popular styles have been derived.</p>
                    <div class="clearfix"></div>
                    <h3>International Shorin Ryu Seibukan Karate Do</h3>
                    <p>Shorin Ryu is a traditional style of Karate-do that has remained unadulterated since its inception on the island of Okinawa over a century ago. The Seibukan dojo was founded back in 1962 by the late Zenryo Shimabukuro Sensei, so that he could pass on the Karate of the legendary Chotoku Kyan Sensei – Sukunaihayashi Shorin Ryu – exactly as he was taught.</p>
                    <div class="separator separator-rouned">
                        <i class="fa fa-cog fa-spin"></i>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/classes/matsumura_thumb.jpg" class="img-fullwidth"> </a> </div>
                        <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/classes/Chotoku-kyan.jpg" class="img-fullwidth"> </a> </div>
                        <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/classes/zenryo.jpg" class="img-fullwidth"> </a> </div>
                        <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/classes/Zempo_shimabukuro.jpg" class="img-fullwidth"> </a> </div>
                    </div>
                    <div class="separator separator-rouned">
                        <i class="fa fa-cog"></i>
                    </div>
                    <p>Literally translated, the name “Seibukan” means “Holy Art School”. This  name not only reflects Zenryo Sensei’s thoughts on his beloved art (Sukunaihayashi Shorin Ryu), but also indicates his training and teaching philosophy.</p>
                    <p>Speed, power and grace are combined so beautifully and skilfully in this art. The lightning-fast hand movements typical of of the Shorin Ryu style, combined with remarkable footwork and leg techniques, and the integration of it all into a the individual technique or a combinations using the power of the hip, make this hard-soft style not only a pleasing sight, but also extremely effective in real-life combat situations. This is a style that was developed for the weaker person to overcome a much bigger and stronger adversary.</p>
                    <p>Today, under its current president – O Sensei Hanshi Zenpo Shimabukuro (10th Dan), son of Zenryo Sensei – the International Okinawan Shorin-Ryu Seibukan Karate-do Association  (IOSSKA) still has its roots strongly embedded in the traditions of pure Okinawan Shorin Ryu Karate-do. The Seibukan dojos around the world proudly continue to teach and spread the philosophy of the Holy Art School, and the Karate-do of the late Zenryo Sensei; hence, the Karate-do of his master, Chotoku Kyan Sensei.</p>
                </div>
            </div>
        </div>
    </section>
</div>

