﻿
@{
    ViewBag.Title = "Katas";
}

<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://zanshinacademy.in/images/bg/Jion.jpg">
        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">Katas of Seibukan</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>(Curtsey to Wikipedia for this information<br /> https://en.wikipedia.org/wiki/Sh%C5%8Drin-ry%C5%AB_Seibukan )</p>
                    <h4> Fukyugata Ichi</h4>
                    <p>
                        Master Shoshin Nagamine originally created Fukyugata Ichi. This kata is meant to be the first basic kata practiced, and contains basic movements of karate-do. Body dynamics are in basic sequence so that a beginner can easily understand them. Also basic punches and blocks are contained in this kata. A major characteristic of this kata is the use of zenkutsu dachi (zen-coot-zoo da-chi) (legs straight stance).
                    </p>
                    <p>
                        This version of the kata, along with the modified version of Fukyugata Ni, were developed in joint cooperation with other Okinawan member systems (Rengokai and Okinawa Prefecture), as a representation of traditional Okinawan styles, mainly for joint demonstrations and exhibitions. Due to the large difference in Okinawan style kata, stances, and movements, it was agreed upon to create the two kata solely for this purpose.
                    </p>
                    <div class="clearfix"></div>
                    <h4>Fukyugata Ni</h4>
                    <p>Master Chojun Miyagi originally created this kata. Fukyugata Ni is also known as Gekisai Dai Ichi in Goju ryu. The Goju-ryu kata, Gekisai Dai Ichi and Ni, were created by Miyagi sensei in 1940. In their development, he had two ideas in mind: spiritual and physical development of the individual, and to increase the popularity of karate.</p>
                    <p>It was also important to him that kata was suitable for everyone despite of age and physical condition. The name of kata is quite harsh because it means to destroy. Miyagi sensei chose the name to promote self-esteem of the young people, their training spirit, especially because they were living in hard times due to the war</p>
                    <p>Fukyugata Ni includes powerful and sharp techniques, and Miyagi himself emphasized that they should perform them with full speed and power. The main stance in this kata is zenkutsu dachi. This stance is made by slightly bending knees with toes pointed forward. Basic form two (Fukyugata Ni), is one level harder than the first. The series of movements and bunkai in this kata contain catching and throwing techniques.</p>
                    
                    <h4>Seisan</h4>
                    <p>Kyan Chotoku learned Seisan kata from Sokon Matsumura, the master of the Shuri-te branch. This kata contains long distance techniques like rensoku tsuki geri, which are representative of the shuri-te style. It was assumed that Seisan was the first kata taught to him by the great master Matsumura, and due to the age differences, was learned by Master Kyan at a tender age.</p>
                    <p>This kata still remains as the first major Sukunaihayashi lineage kata to be taught in Seibukan. Seisan is a powerful kata, where quick changes from shiko dachi to zenkutsu dachi come into its own as a source of power. This ancient form was a favorite of Master Zenryo Shimabukuro, and was performed by him in many exhibitions. Even at an advanced age, Master Zenryo Shimabukuro used this kata to demonstrate his excellent fitness.</p>
                    <h4>Ananku</h4>
                    <p>It is speculated that Kyan Chotoku developed the Ananku kata. From several sources it is claimed that Ananku is Taiwanese in origin, and that Master Kyan brought it from Taiwan to Okinawa. However, the appearance of this kata is very Okinawan in form, movement, and technique. Many of the techniques, stances, and movements are representative of existing Sukunaihayashi kata.</p>
                    <h4>Wansu</h4>
                    <p>Maeda Chiku taught this Tomari-te lineage kata to Chotoku Kyan. Wansu is rather short, but technically difficult kata, very different from Seisan or Ananku. It contains many techniques where block and counters are made simultaneously. Also Wansu contains its trademark hard technique, the effective use of kataguruma (fireman’s carry) throw.</p>
                    <h4>Passai</h4>
                    <p>Passai is an age-old form, and one of the oldest versions of this kata is Seibukan’s Oyadomari Passai. Passai is often explained as a low light or night fighting kata, because of its many sagurite (searching hand) techniques. The name of the kata means 'to break through the fortress'. It might have received the name from the beginning movement where the defender throws a strong forward movement combined with an augmented chudan-uke, meant to unbalance of attacker.</p>
                    <p>After this powerful start, the kata changes characteristics by making fast blocks and strikes with open hands to vulnerable points of human body. There are many angular movement changes, all quickly executed and in varying degrees. In the last part of the kata there is combination technique where the attack is avoided by ducking the opponents attacking arm, while simultaneously blocking the opponents other arm and striking a key point in the stomach region. By bending the body one can add extra power to the strike. This technique has disappeared in many of the modern karate style’s version of Passai.</p>
                    <h4>Gojushiho</h4>
                    <p>This kata is sometimes referred to as the drunkard form, because it contains movements where the kata performer mocks a staggering move. As a result of this unorthodox and crafty technique, Gojushiho is noted for techniques that throw the opponent off, by surprise. This makes the Gojushiho kata different in appearance from the other kata represented within the Sukunaihayashi system. Notable bunkai techniques include throwing, crane style strikes, and attacks toward weak joint areas</p>
                    <h4>Wanchin</h4>
                    <p>Wanchin is the kata of Zenryo Shimabukuro. It is built from elements of other kata which sensei learned from Kyan Sensei. The Wanchin kata name is a combination of the kanji from Wansu and Chinto. Zenryo Sensei wanted the name to sound Chinese, thus Wanchin in the kanji writing. Zenryo Sensei believed strongly that simultaneous block and counter techniques were of primary importance. The movements of Wanchin kata demonstrate many of these types of techniques, taken from Passai, Seisan, Gojushiho, and Kusanku.</p>
                    <h4>Chinto</h4>
                    <p>Cinto is one of the treasures of Seibukan. This version of the kata is taught only to Seibukan family members. It was favorite kata of Kyan Sensei, and is undoubtedly a Sukunaihayshi kata. It is taught at a higher level of student, usually in the Nidan class. This is partly due to the fact that it is a very demanding kata to perform, and the bunkai is hard to master. Ancient masters of Tomari were very fond of close combat techniques, and you can see these techniques in the Chinto kata. Many of the bunkai involve locking maneuvers, throws, all characteristic of close combat type of techniques.</p>
                    <h4>Kusanku</h4>
                    <p>Kusanku is the longest and most difficult of Sukunaihayashi kata. It is also the most beautiful kata of our style. This is a favorite of Hanshi Shimabukuro Zenpo, and he freely demonstrates it at all exhibitions, seminars and demonstrations, always receiving admiration from the audience!</p>
                    <h3>Additional katas of Seibukan</h3>
                    <p>The following list of kata contain the forms that were learned by Hanshi Zenpo Shimabukuro, and are now part of the kata syllabus in the Seibukan system. Movements and bunkai of this kata have not been changed to fit the Seibukan form of techniques, and are preserved as Hanshi Shimabukuro learned them from Master Nakama. This can be seen in the stances and delivery of technique. When comparing these to other of Nakama and Motobu student’s version of the kata, you will see they are very much alike.</p>
                    <h4>Pinan 1-5 (Itosu no Pinan)</h4>
                    <p>Itosu Anko, who was a sensei to schoolchildren, developed this series of kata. Itosu took elements from different kata, Kusanku for example, and incorporated them in the series of forms. It is interesting to note there is mention that elements of the old Channan kata located in the techniques of the Pinan series.</p>
                    <p>In Okinawa, there are still some teachers who say that they still know how the kata Channan is performed, but the likelihood is that the kata does not exist in complete form anymore. The Pinan series contains many high stances like choku dachi and narrow stances like neko ashi dachi. There exist many basic foundation maneuvers in the Pinan kata, as well as many basic techniques, presented in an easier format than the complete traditional kata they came from.</p>
                    <p>In many mainstream Japanese styles, Pinan is known as Heian. Funakoshi Gichin made this name change. His philosophy was to teach Pinan Nidan first because he felt it was an easier transition into the Pinan series</p>
                    <h4>Naifanchi 1-3 (Motobu no Naifanchi)</h4>
                    <p>The Naifanchi (Daipochin) kata comes from the famous Okinawan karate-ka, Choki Motobu, who is famous for his actual active testing of bunkai in real fighting situations. This sometimes happened by suspicious means, and many a teacher would watch this kind of conduct with disapproving eyes.</p>
                    <p>It was said that Choki Motobu knew only three kata, the Naifanchi series, Wansu, and Passai Guwa. Motobu for the most part, was victorious in his use of the kata bunkai. In many Shorin-ryu styles, Naifanchi (Heishugata) acts as foundation to further kata (Kaishugata) like Sanchin in the Goju-ryu system. Master Tatsuo Shimabukuro, the founder of Isshin-ryu (blend of Goju-ryu and Shorin-ryu), was quoted as saying that, Naifanchi is mother to Shorin-ryu and Sanchin is father to Goju-ryu. When these two come together then Isshin-ryu is born.</p>
                    <p>In many mainstream Japanese styles, Naifanchi is known as Tekki. Funakoshi Gichin made this name change.</p>
                    <p>The primary stance in this series of kata is kiba dachi, which emphasizes the strengthening of the legs and hips. A distinct characteristic of the kata is the technique where the circular movement of the arms protects the head in a block, while simultaneously setting up the opening for the uraken. The appearance of kata can be seen as simple, but from careful study and practice of the bunkai, it is very rich in techniques, and is seen as an effective fighting system.</p>
                    <h4>Jion (Itosu no Jion)</h4>
                    <p>Chosin Chibana is credited with teaching this powerful kata to Chozo Nakama. It differs from the others, because it emphasizes defenses for hair grabbing. At the time of Chibana Sensei was living, some men used to wear their hair in a topknot. These topknots were very easy to grab, and an excellent way to gain control of an opponent.</p>
                    <p>The technique in Jion that addresses this type of attack is very effective in relieving oneself of a hair grab from an opponent. Some modern day systems, through misunderstanding of this technique, or modification to meet current trends, have changed this unique technique to a normal jodan uke in the bunkai explanation.</p>
                    <h3>Bo Kata of Seibukan</h3>
                    <h4>Tokumine No Kun</h4>
                    <p>Tokumine No Kun was the only weapon kata passed on by Kyan sensei. It is assumed that it was the only weapon kata that he had formally learned. The colorful master, Tokumine Pechin, on the Yaeyama Islands taught this kata to him. This particular version of bo (staff) kata is quite rare, even on Okinawa.</p>

                </div>
            </div>
        </div>
    </section>
</div>

