﻿
@{
    ViewBag.Title = "Linage";
}
  <!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://placehold.it/1920x942">
        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">Our Linage</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container pb-0">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="heading-line-bottom text-center">
                        <h3>Shorin Ryu Seibukan</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="js/vertical-timeline/img/cd-icon-picture.svg" alt="">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Matsumura Sokon</h2>
                <div class="thumb">
                    <img class="img-fullwidth" alt="Matsumura Sokon" src="~/images/portfolio/matsumura_lineage.jpg">
                </div>
                <p>Matsumura Soko is one of the pioneers of Karate and most of all Karate styles are accknowledge him as the originator of their style. </p>
                <a href="#0" class="cd-read-more">Read more</a>
                <span class="cd-date">1809 - 1899</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="js/vertical-timeline/img/cd-icon-movie.svg" alt="">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Chotoku Kyan</h2>
                <div class="thumb">
                    <img class="img-fullwidth" alt="Sensei Chotoku Kyan" src="~/images/portfolio/Chotoku-kyan.jpg">
                </div>
                <p>His one of the student of Mastsumura Sokon and from his way of Karate and theroies have bee abopted by Seibukan style.  </p>
                <a href="#0" class="cd-read-more">Read more</a>
                <span class="cd-date">1870-1945</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="js/vertical-timeline/img/cd-icon-picture.svg" alt="">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Hanshi Zenryo Shimabukuro</h2>
                <div class="thumb">
                    <img class="img-fullwidth" alt="Hanshi Zenryo Shimabukuro" src="~/images/portfolio/zenryo.jpg">
                </div>
                <p>He is a student of Chotoku Kyan and the founder of Shorin Ryu Seibukan Karate Do</p>
                <a href="#0" class="cd-read-more">Read more</a>
                <span class="cd-date">1908-1969</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="js/vertical-timeline/img/cd-icon-location.svg" alt="1943">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Hanshi Zenpo Shimabukuro</h2>
                <div class="thumb">
                    <img class="img-fullwidth" alt="Hanshi Zempo Shimabukuro" src="~/images/portfolio/zempo_lineage.jpg">
                </div>
                <p>Zempo Shimabukuro is the son of Zempo Shimabukuro and the current President of Shorin Ryu Seibukan Karate Do</p>
                <a href="#0" class="cd-read-more">Read more</a>
                <span class="cd-date"> </span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="js/vertical-timeline/img/cd-icon-location.svg" alt="1949">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Kyoshi Jamal Measara</h2>
                <div class="thumb">
                    <img class="img-fullwidth" alt="Jamal Measara" src="~/images/portfolio/jamal_measara_lineage.jpg">
                </div>
                <p>Jamal Measara is one of the senior most member in Seibukan Karate family. He is a prominent Martial Artist who have greate knowledge about many martial arts. Now he is the Chief of Seibukan Europena region</p>
                <a href="#0" class="cd-read-more">Read more</a>
                <span class="cd-date"></span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="js/vertical-timeline/img/cd-icon-movie.svg" alt="">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Sensei  P. Kuppusamy</h2>
                <div class="thumb">
                    <img class="img-fullwidth" alt="Hanshi Zeryo Shimabukuro" src="~/images/portfolio/kuppuswami_lineage.jpg">
                </div>
                <p>Seibukan dojo in India was initially started in 1975 by Sensei P. Kuppusamy from Malaysia. He was a direct student of Kyoshi Jamal Measara. Sensei P. Kuppusamy was considered one of the best karate instructors of his time. He came to India for the sole purpose of introducing and imparting the noble art of Seibukan Ryu.</p>
                <span class="cd-date"></span>
            </div> <!-- cd-timeline-content -->

        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="js/vertical-timeline/img/cd-icon-location.svg" alt="1949">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
                <h2>Kyoshi Ratnapala</h2>
                <div class="thumb">
                    <img class="img-fullwidth" alt="Jamal Measara" src="~/images/portfolio/ratnapala.jpg">
                </div>
                <p>Ratnapala is the Chief Instructor and Technical Director of Seibukan Karate-do, India </p>
                <a href="#0" class="cd-read-more">Read more</a>
                <span class="cd-date"></span>
            </div> <!-- cd-timeline-content -->
        </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="js/vertical-timeline/img/cd-icon-location.svg" alt="1976">
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h2>Sensei Jojo Joseph</h2>
                    <div class="thumb">
                        <img class="img-fullwidth" alt="Hanshi Zeryo Shimabukuro" src="~/images/portfolio/jojo_lineage.jpg">
                    </div>
                    <p>Sensei Jojo Joseph is an eminent Karate practitioner since the last 30 years and now is  the chief instructor of Zanshin Academy, Budo Academy etc</p>
                    <a href="#0" class="cd-read-more">Read more</a>
                    <span class="cd-date"></span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
</section>

</div>
<!-- end main-content -->
