﻿@model ZanshinAcademy.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Admin Registration</h2>


@Html.Partial("_Registration")

<div>
    <br /><br />
    <button type="button" class="btn btn-primary col-md-offset-1" onclick="location.href='@Url.Action("Index", "UsersEdit")'">Admin List</button>
</div>