﻿@model ZanshinAcademy.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" >
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Model.DateOfBirth.Value.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
           @Model.CreatedDate.Value.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
           @Model.ActiveStatus
        </dd>

    </dl>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-primary col-md-offset-1" onclick="location.href='@Url.Action("Index", "UsersEdit")'">Back to List </button> 
    <button type="button" class="btn btn-primary col-md-offset-1" onclick="location.href='@Url.Action("Edit", "UsersEdit")'">Edit</button>
</div>

