﻿@model IEnumerable<ZanshinAcademy.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Admin List</h2>

<p>
    <button type="button" class="btn btn-primary col-md-offset-10" onclick="location.href='@Url.Action("Edit", "UsersEdit")'">Create</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmailVerified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>    
        <td>
            @Html.DisplayFor(modelItem => item.IsEmailVerified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "UsersEdit", new { id = item.UserID })'">Edit</button>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", "UsersEdit", new {id = item.UserID})'">Details</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "UsersEdit", new {id = item.UserID})'">Delete</button>
            </div> 

        </td>
    </tr>
}

</table>
