﻿
@{
    ViewBag.Title = "AikidoClass";
}

 <!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://zanshinacademy.in/images/classes/AikidoClassBanner.jpg">
        <div class="container pt-100 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">Aikido Training</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Classes details -->
    <section>
        <div class="container pb-30">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-5 pr-60 pr-sm-0 mt-sm-60">
                        <div class="widget">
                            <h4 class="widget-title line-bottom text-uppercase bg-theme-colored p-10 text-white">Aikido Class</h4>
                            <div class="opening-hours">
                                <ul class="list-border">
                                    <li class="clearfix">
                                        <span>Class Duration :  </span>
                                        <div class="value pull-right flip"> 2 hours - 2.30 hours</div>
                                    </li>
                                    <li class="clearfix">
                                        <span>Course Duration :  </span>
                                        <div class="value pull-right flip">3 months</div>
                                    </li>
                                    <li class="clearfix">
                                        <span> Training Schedule</span>
                                        <div class="value pull-right flip">On Demand </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title line-bottom text-uppercase bg-theme-colored p-10 text-white">Pricing</h4>
                            <div class="opening-hours">
                                <ul class="list-border">
                                    <li class="clearfix">
                                        <span> Course Fee :  </span>
                                        <div class="value pull-right flip"> Rs.15000/-</div>
                                    </li>
                                    <li class="clearfix">
                                        <span> Initial Payment :</span>
                                        <div class="value pull-right flip"> Rs.10000/- </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title line-bottom text-uppercase bg-theme-colored p-10 text-white">Our Trainers</h4>
                            <div class="latest-posts">
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="~/images/team/jojo_joseph.jpg" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Sensai Jojo Joseph</h4>
                                        <p class="text-gray font-13">Chief Instructor [4th Dan]</p>
                                        <a href="page-trainer-details.html" class="font-11">View Details</a>
                                    </div>
                                </article>
                                @*<article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Thomas Karedan</h4>
                                        <p class="text-gray font-13">Instructor [1st Dan]</p>
                                        <a href="page-trainer-details.html" class="font-11">View Details</a>
                                    </div>
                                </article>
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Dominic Ralph</h4>
                                        <p class="text-gray font-13">Instructor</p>
                                        <a href="page-trainer-details.html" class="font-11">View Details</a>
                                    </div>
                                </article>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="single-class-details">
                            <img src="http://zanshinacademy.in/images/classes/AikidoClassPage.jpg" class="img-fullwidth" alt="">
                            <div class="pull-left flip">
                                <p><span class="text-theme-colored font-28">Rs.15000</span>/course</p>
                            </div>
                            <div class="pull-right flip">
                                <p class="mt-20">Class Schedule : <strong>On demand special training</strong></p>
                            </div>
                        </div>
                        <div class="classes-schedules">
                            <dl class="dl-horizontal mt-30 mb-50">
                                <dt>Kobudo Style</dt>
                                <dd>
                                    Shudokan
                                </dd>
                                <dt>Affiliated To</dt>
                                <dd>
                                    International  Shudokan Institute of  Aikido 
                                </dd>
                                <dt>Study Mode</dt>
                                <dd>
                                    <ul>
                                        <li>
                                          Aikido Basics and advanced techniques
                                        </li>
                                       
                                    </ul>

                                </dd>
                            </dl>

                            <h5>Aikido Founder, Morihei Ueshiba</h5>
                            <p>
                                <img src="~/images/classes/oSensei-Morihei-Ushiba-6.jpg" style="float:left; margin:15px" />
                                Aikido, a traditional Japanese martial art, was developed in the early part of the 20th century by Morihei Ueshiba (1883-1969), now known as O-Sensei (venerable teacher). Morihei Ueshiba O-Sensei, the Aikido Kaiso (founder), was born in 1883 in Tanabe, a coastal town in southern Japan. From the time of his youth, he studied various martial arts, eventually including sumo, swordsmanship, spear technique, staff technique, and various styles of jiujutsu, particularly the Yagyu and Daito styles. 
                            </p>

                            <h5>Purpose of Aikido</h5>
                            <p>
                                The purpose of Aikido training is not perfection of a martial skill, but rather the improvement of one's character.  The objective of Aikido is not necessarily to defend yourself or to hurt attackers, but ultimately to contribute to the making of a better society through the united training of body, mind and spirit. The developer of Aikido spent decades spreading this message of peace through the art of Aikido. 
                            </p>
                            <p>
                                Being a martial art, people are often surprised, even perplexed to learn that Aikido means "the way of harmony."  “Ki” (pronounced ‘key’) is the Eastern philosophical concept of the universal creative principle of life – the life force or breath.  Ki is at the heart of Aikido – both in concept and in word. When the word is broken down into syllables it reads Ai-Ki-Do.
                             </p>
                            <ul>
                                <li> AI = Harmony / Connection</li>
                                <li>KI = Spirit / Energy</li>
                                <li>DO = Way / Path</li>
                            </ul>
                            <p>
                                Literally, Aikido translates as "the way of harmony with Ki."  Aikido seeks to unite this Ki of the Universe with the Ki found within each person.  The Founder of Aikido believed that a person was at their highest level of self-actualization when univeral ki and one’s personal ki were aligned.  Use of the word “ki” or spirit in a Japanese context doesn’t necessarily imply that of a religious connotation.  Rather, it recognizes the inherent energy found in all living and non-living things… all matter and non-matter, that is.
                            </p>
                            @*<h5>Why Should I Do The Course?</h5>
                                <p>With life expectancy in Australia at a record high, not to mention the continued growth of serious medical conditions such as diabetes and obesity, there’s never been a bigger need for personal health and fitness services.</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Registration Form -->
    <section id="registration-form" class="divider layer-overlay overlay-darkblue" data-bg-img="http://placehold.it/1920x942">
        <div class="container-fluid pb-80 pt-60">
            <div class="section-title mb-30">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="title text-theme-colored">Class Registration</h2>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <!-- Appilication Form Start-->
                        <form id="reservation_form" name="reservation_form" class="reservation-form p-50 pt-80 pb-80 mb-0 bg-light" method="post" action="includes/reservation.php">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mb-30">
                                        <input placeholder="Enter Name" type="text" id="reservation_name" name="reservation_name" required="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input placeholder="Phone" type="text" id="reservation_phone" name="reservation_phone" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input type="text" placeholder="Email" id="register_email" name="register_email" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <label>Class Categories</label>
                                        <div class="styled-select">
                                            <select id="person_select" name="person_select" class="form-control" required="">
                                                <option value="">Choose Martial Arts</option>
                                                <option value="Subject-1">Karate</option>
                                                <option value="Subject-2">Kobudo</option>
                                                <option value="Subject-3">Aikido</option>
                                                <option value="Subject-5">Teakwondo</option>
                                                <option value="Subject-6">Boxing</option>
                                                <option value="Subject-7">Tai Chi</option>
                                                <option value="Subject-8">Yoga</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <label>Class Time</label>
                                        <div class="styled-select">
                                            <select id="event_post" name="event_post" class="form-control" required="">
                                                <option value="">Select</option>
                                                <option value="Event 1">Morning</option>
                                                <option value="Event 2">Evening</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mb-0 mt-10">
                                        <input name="form_botcheck" class="form-control" type="hidden" value="">
                                        <button type="submit" class="btn btn-theme-colored btn-xl btn-submit btn-block" data-loading-text="Please wait...">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Application Form End-->
                        <!-- Application Form Validation Start-->
                        <script type="text/javascript">
                $("#reservation_form").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                    $(form).ajaxSubmit({
                      dataType:  'json',
                      success: function(data) {
                        if( data.status == 'true' ) {
                          $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });
                        </script>
                        <!-- Application Form Validation Start -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Classes -->
    @*<section id="classes" class="bg-lighter">
            <div class="container pb-40">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title text-uppercase">Our <span class="text-theme-colored">Classes</span></h2>
                            <p class="text-uppercase letter-space-2">Join our martial art club and be healthy.</p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-30">
                            <div class="class-items bg-white border-1px p-20">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="http://placehold.it/317x317" alt="">
                                    <div class="viewtime">
                                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                    </div>
                                </div>
                                <h3 class="text-uppercase font-22">
                                    <a href="#"><span class="text-theme-colored">Private </span> | Group Lessons</a>
                                </h3>
                                <div class="class-date letter-space-2 font-12"><i class="fa fa-clock-o"></i> <em>01:00pm - 03:00 pm</em></div>
                                <div class="class-date letter-space-2 font-12 mb-10"><i class="fa fa-map-marker"></i> <em> 121 King Street, Melbourne.</em></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-30">
                            <div class="class-items bg-white border-1px p-20">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="http://placehold.it/317x317" alt="">
                                    <div class="viewtime">
                                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                    </div>
                                </div>
                                <h3 class="text-uppercase font-22">
                                    <a href="#"><span class="text-theme-colored">Private </span> | Group Lessons</a>
                                </h3>
                                <div class="class-date letter-space-2 font-12"><i class="fa fa-clock-o"></i> <em>01:00pm - 03:00 pm</em></div>
                                <div class="class-date letter-space-2 font-12 mb-10"><i class="fa fa-map-marker"></i> <em> 121 King Street, Melbourne.</em></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-30">
                            <div class="class-items bg-white border-1px p-20">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="http://placehold.it/317x317" alt="">
                                    <div class="viewtime">
                                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                    </div>
                                </div>
                                <h3 class="text-uppercase font-22">
                                    <a href="#"><span class="text-theme-colored">Private </span> | Group Lessons</a>
                                </h3>
                                <div class="class-date letter-space-2 font-12"><i class="fa fa-clock-o"></i> <em>01:00pm - 03:00 pm</em></div>
                                <div class="class-date letter-space-2 font-12 mb-10"><i class="fa fa-map-marker"></i> <em> 121 King Street, Melbourne.</em></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
</div>
<!-- end main-content -->

