﻿@model IEnumerable<ZanshinAcademy.Models.Blog>

@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://placehold.it/1920x942">
        <div class="container pt-70 pb-50">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title text-white">Blog</h4>
                        @*<ul class="breadcrumb white">
                            <li><a class="text-white" href="index-mp-layout1.html">Home</a></li>
                            <li class="active">Blog</li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-30 mb-30 pt-30 pb-30">
            <div class="row ">
                <div class="col-md-9 pull-right flip sm-pull-none">
                    <div class="blog-posts">
                        <div class="col-md-12">
                            <div class="row list-dashed">
                                @foreach (var item in Model)
                                {
                                    <article class="post clearfix mb-30 bg-lighter">
                                        <div class="entry-header">
                                            <div class="post-thumb thumb">
                                                <img src="images/blog/2.jpg" alt="" class="img-responsive img-fullwidth">
                                            </div>
                                        </div>
                                        <div class="entry-content p-20 pr-10">
                                            <div class="entry-meta media no-bg no-border mt-15 pb-20">
                                                <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                                    <ul>
                                                        <li class="font-15 text-white text-uppercase">@item.CreatedDate.Value.</li>
                                                    </ul>
                                                </div>
                                                <div class="media-body pl-15">
                                                    <div class="event-content pull-left flip">
                                                        <h4 class="entry-title text-white text-uppercase m-0"><a href="#">@item.Title</a></h4>
                                                        <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> @item.AuthorID</span>
                                                        <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> @item.CreatedDate</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mt-10">@Html.Raw(item.Summary)</p>
                                            
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                }
                                

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar sidebar-right mt-sm-30">
                        <div class="widget">
                            <h5 class="widget-title line-bottom"><a href="@Url.Action("Blogs", "Main", new { id=""})">Latest Posts</a></h5>
                            <ul class="list-divider list-border list check">
                                @foreach (var item in ViewBag.BlogList)
                                {
                                    <li><a href="@Url.Action("Blogs", "Main", new { id=@item.BlogID})">@item.Title</a></li>
                                }
                            </ul>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->


