﻿@model ZanshinAcademy.Models.CourseRegister

@{
    ViewBag.Title = "CourseRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start main-content -->
<div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider bg-lighter">
        <div class="display-table">
            <div class="display-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-push-3">
                            <div class="text-center mb-60"><a href="#" class=""><img alt="" src="images/logo-wide.png"></a></div>
                            <div class="bg-lightest border-1px p-30 mb-0">
                                <h3 class="text-theme-colored mt-0 pt-5"> Register Now</h3>
                                <hr>
                                <p>Welcome to our martial arts courses <br /> Please fill up your details and choose the appropriate course </p>
                                @using (Html.BeginForm("CourseRegister", "Main", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Name <small>*</small></label>
                                                @*<input name="form_name" type="text" placeholder="Enter Name" required="" class="form-control">*@
                                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name" } })
                                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Course <small>*</small></label>
                                                @*@Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })*@
                                                <select name="form_post" class="form-control required">
                                                    <option value="Finance Manager">Karate</option>
                                                    <option value="Area Manager">Taekwondo</option>
                                                    <option value="Country Manager">Boxing</option>
                                                    <option value="Country Manager">Tai Chi</option>
                                                    <option value="Country Manager">Yoga</option>
                                                    <option value="Country Manager">Kobudo</option>
                                                    <option value="Country Manager">Aikido</option>
                                                    <option value="Country Manager">Self Defense </option>
                                                </select>
                                            </div>
                                         
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Sex <small>*</small></label>
                                                @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })*@
                                                <select name="form_sex" class="form-control required">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Age <small>*</small></label>
                                                @*<input name="form_email" class="form-control required email" type="email" placeholder="Enter Age">*@
                                                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", @placeholder="Enter Age" } })
                                                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Email <small>*</small></label>
                                                @*<input name="form_email" class="form-control required email" type="email" placeholder="Enter Email">*@
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder="Enter Email" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Phone<small>*</small></label>
                                                @*<input name="form_email" class="form-control required email" type="email" placeholder="Enter Phone">*@
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder="Enter Phone" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Message <small>*</small></label>
                                        @*<textarea name="form_message" class="form-control required" rows="5" placeholder="Your special requirements/ suggestions"></textarea>*@
                                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input name="form_botcheck" class="form-control" type="hidden" value="" />
                                        <button type="submit" class="btn btn-block btn-dark btn-theme-colored btn-sm mt-20 pt-10 pb-10" data-loading-text="Please wait...">Apply Now</button>
                                        
                                    </div>
                                }
                                <!-- Job Form Validation-->
                                <script type="text/javascript">
                    $("#job_apply_form").validate({
                      submitHandler: function(form) {
                        var form_btn = $(form).find('button[type="submit"]');
                        var form_result_div = '#form-result';
                        $(form_result_div).remove();
                        form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                        var form_btn_old_msg = form_btn.html();
                        form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                        $(form).ajaxSubmit({
                          dataType:  'json',
                          success: function(data) {
                            if( data.status == 'true' ) {
                              $(form).find('.form-control').val('');
                            }
                            form_btn.prop('disabled', false).html(form_btn_old_msg);
                            $(form_result_div).html(data.message).fadeIn('slow');
                            setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                          }
                        });
                      }
                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->




    <script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
