﻿@model IEnumerable<ZanshinAcademy.Models.PhotoGallery>

@{
    ViewBag.Title = "Index";
}
 <!-- Start main-content -->
<div class="main-content">

    <section id="home">
        <div class="container-fluid p-0">

            <!-- Slider Revolution Start -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider rev_slider_default" data-version="5.0">
                    <ul>

                        <!-- SLIDE 1 -->
                        <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg13.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 2" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg/bg13.jpg" alt="" data-bgposition="top 30%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white"
                                 id="rs-1-layer-1"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-110']"
                                 data-fontsize="['80']"
                                 data-lineheight="['120']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:700;">
                                Zanshin Academy 
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white bg-theme-colored-transparent pl-20 pr-20"
                                 id="rs-1-layer-2"
                                 data-x="['left']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['-25']"
                                 data-fontsize="['35']"
                                 data-lineheight="['54']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">
                               of Martial Arts
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-white"
                                 id="rs-1-layer-3"
                                 data-x="['left']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['35','35','40']"
                                 data-fontsize="['16','18',24']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                                <h3 class="text-white">Keeps you aware and alert</h3>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="rs-1-layer-4"
                                 data-x="['left']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['110','120','150']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                <a class="btn btn-colored btn-lg btn-theme-colored pl-20 pr-20" href="#">Join Now</a>
                            </div>
                        </li>

                        <!-- SLIDE 2 -->
                        <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg14.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 1" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg/bg14.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase  bg-dark-transparent-6 text-white pl-30 pr-30"
                                 id="rs-2-layer-1"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-90']"
                                 data-fontsize="['28']"
                                 data-lineheight="['54']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">
                                Affiliated to
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white pl-30 pr-30"
                                 id="rs-2-layer-2"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-20']"
                                 data-fontsize="['48']"
                                 data-lineheight="['70']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">
                                Shorin Ryu Seibukan Karate Do
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-white text-center"
                                 id="rs-2-layer-3"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['50']"
                                 data-fontsize="['16','18',24']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; font-weight:700; border-radius: 30px;">
                                <h3 class="text-white"> The ultimate aim of Karate lies not in victory nor defeat,<br /> but in the perfection of the character of its participants.</h3>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="rs-2-layer-4"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['110','120','150']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                <a class="btn btn-circled btn-theme-colored pl-20 pr-20" href="#">Join Now</a>
                            </div>
                        </li>

                        <!-- SLIDE 3 -->
                        <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg12.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg/bg12.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white bg-theme-colored-transparent pr-20 pl-20"
                                 id="rs-3-layer-1"
                                 data-x="['right']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-90']"
                                 data-fontsize="['70']"
                                 data-lineheight="['72']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">
                                There is no first attack in karate
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white"
                                 id="rs-3-layer-2"
                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['-25']"
                                 data-fontsize="['32']"
                                 data-lineheight="['54']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">
                                Move according to your opponent
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-white text-right"
                                 id="rs-3-layer-3"
                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['30']"
                                 data-fontsize="['16','18',24']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                               <h3 class="text-white">Karate is like hot water: if you do not give heat constantly,<br /> it will become cold again.</h3>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="rs-3-layer-4"
                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['110','120','150']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                <a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20" href="#">Book Now</a>
                            </div>
                        </li>

                        <!-- SLIDE 4 -->
                        <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg4.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg/bg4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white bg-theme-colored-transparent pr-20 pl-20"
                                 id="rs-4-layer-1"
                                 data-x="['right']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-90']"
                                 data-fontsize="['70']"
                                 data-lineheight="['72']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">
                                Martial Arts
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white"
                                 id="rs-3-layer-2"
                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['-25']"
                                 data-fontsize="['32']"
                                 data-lineheight="['54']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">
                                Train with best Legends
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-white text-right"
                                 id="rs-3-layer-3"
                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['30']"
                                 data-fontsize="['16','18',24']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                                Every day we bring hope to millions of children in the world's<br>  hardest places as a sign of God's unconditional love.
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="rs-3-layer-4"
                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['110','120','150']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                <a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20" href="#">Book Now</a>
                            </div>
                        </li>
                        <!-- SLIDE 5 -->
                        <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg17.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg/bg17.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white bg-theme-colored-transparent pr-20 pl-20"
                                 id="rs-3-layer-1"
                                 data-x="['right']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-90']"
                                 data-fontsize="['70']"
                                 data-lineheight="['72']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">
                                Martial Arts
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white"
                                 id="rs-3-layer-2"
                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['-25']"
                                 data-fontsize="['32']"
                                 data-lineheight="['54']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">
                                Train with best Legends
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-white text-right"
                                 id="rs-3-layer-3"
                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['30']"
                                 data-fontsize="['16','18',24']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                                Every day we bring hope to millions of children in the world's<br>  hardest places as a sign of God's unconditional love.
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="rs-3-layer-4"
                                 data-x="['right']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['110','120','150']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                <a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20" href="#">Book Now</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <!--  Revolution slider scriopt -->
            <script>
          $(document).ready(function(e) {
            $(".rev_slider_default").revolution({
              sliderType:"standard",
              sliderLayout: "auto",
              dottedOverlay: "none",
              delay: 5000,
              navigation: {
                keyboardNavigation: "off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation: "off",
                onHoverStop: "off",
                touch: {
                  touchenabled: "on",
                  swipe_threshold: 75,
                  swipe_min_touches: 1,
                  swipe_direction: "horizontal",
                  drag_block_vertical: false
                },
                arrows: {
                  style:"zeus",
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                  left: {
                    h_align:"left",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  },
                  right: {
                    h_align:"right",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  }
                },
                bullets: {
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  style:"metis",
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  direction:"horizontal",
                  h_align:"center",
                  v_align:"bottom",
                  h_offset:0,
                  v_offset:30,
                  space:5,
                  tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                }
              },
              responsiveLevels: [1240, 1024, 778],
              visibilityLevels: [1240, 1024, 778],
              gridwidth: [1170, 1024, 778, 480],
              gridheight: [700, 768, 960, 720],
              lazyType: "none",
              parallax: {
                origo: "slidercenter",
                speed: 1000,
                levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                type: "scroll"
              },
              shadow: 0,
              spinner: "off",
              stopLoop: "on",
              stopAfterLoops: 0,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              fullScreenAutoWidth: "off",
              fullScreenAlignForce: "off",
              fullScreenOffsetContainer: "",
              fullScreenOffset: "0",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                simplifyAll: "off",
                nextSlideOnWindowFocus: "off",
                disableFocusListener: false,
              }
            });
          });
            </script>
            <!-- Slider Revolution Ends -->
        </div>
    </section>

    <!-- Section: home-boxed -->
    <section>
        <div class="container pb-0">
            <div class="section-content">
                <div class="row" data-margin-top="-100px">
                    <div class="col-md-3">
                        <div class="icon-box bg-theme-colored iconbox-border text-center">
                            <a href="#" class="icon icon-top icon-white border-1px icon-circled icon-border-effect effect-circled icon-lg" data-margin-top="-20px">
                                <i class="flaticon-sports-9 text-theme-colored"></i>
                            </a>
                            <div class="p-40 pt-0">
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Karate</h3>
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Kobudo</h3>
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Aikido</h3>
                                @*<p class="text-white">Affiliated to International Shorin Ryu Seibukan, Okinawa</p>*@
                                <a class="btn btn-default btn-sm" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon-box bg-theme-colored iconbox-border text-center">
                            <a href="#" class="icon icon-top icon-white border-1px icon-circled icon-border-effect effect-circled icon-lg" data-margin-top="-20px">
                                <i class="flaticon-sports-2 text-theme-colored"></i>
                            </a>
                            <div class="p-40 pt-0">
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Taekwondo</h3>
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Tai Chi</h3>
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Boxing </h3>
                                @*<p class="text-white">Korean Martial Arts with traditional style</p>*@
                                <a class="btn btn-default btn-sm" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon-box bg-theme-colored iconbox-border text-center">
                            <a href="#" class="icon icon-top icon-white border-1px icon-circled icon-border-effect effect-circled icon-lg" data-margin-top="-20px">
                                <i class="flaticon-sports-3 text-theme-colored"></i>
                            </a>
                            <div class="p-40 pt-0">
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Self Defense</h3>
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Clinic</h3>
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">M M A</h3>
                                @*<p class="text-white">Health oriented Chinise Martial arts</p>*@
                                <a class="btn btn-default btn-sm" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon-box bg-theme-colored iconbox-border text-center">
                            <a href="#" class="icon icon-top icon-white border-1px icon-circled icon-border-effect effect-circled icon-lg" data-margin-top="-20px">
                                <i class="flaticon-people text-theme-colored"></i>
                            </a>
                            <div class="p-40 pt-0">
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Yoga </h3>
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Therapy</h3>
                                <h3 class="icon-box-title text-white mt-0 text-uppercase">Training</h3>
                                @*<p class="text-white">Chinise Martial Arts</p>*@
                                <a class="btn btn-default btn-sm" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section id="about">
        <div class="container mt-0">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-uppercase mt-0"><span class="text-theme-colored">Zanshin Academy<br /></span><span class="text-black"> of Martial Arts</span></h2>
                        <h5>The path of awareness and altertness </h5>
                        <p>
                            Zanshin is a term used in Japanese martial arts that means alertness/readiness and a higher state of awareness. Zanshin should be applied to every aspect of the martial arts whether you are learning, performing or teaching any technique.</p>
                        <p>
                            Zanshin Academy caters many different martial arts under a single roof in a view of intergrating all different traditional arts without loosing its true spirit and value. The ultimate goal of every martial arts are invariably to cultivate a better mind, body and spirit of its practitioner. Our aim also is to cultivate a peaceful and healthy society through the  contineous physical training, breathing techniques and meditation.

                        </p>

                        <div class="row multi-row-clearfix mt-30">
                            <div class="col-sm-6 col-md-6">
                                <div class="icon-box mb-60">
                                    <a href="#" class="icon icon-circled icon-bordered icon-gray icon-border-effect mb-0 mr-10 pull-left flip">
                                        <i class="flaticon-sports-9 text-theme-colored"></i>
                                    </a>
                                    <div class="pt-13">
                                        <h4 class="icon-box-title mt-0 mb-0 text-theme-colored"> Karate</h4>
                                        <p>Shorin Ryu Seibukan Karate Do.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="icon-box mb-60 p-0">
                                    <a href="#" class="icon icon-circled icon-bordered icon-gray icon-border-effect mb-0 mr-10 pull-left flip">
                                        <i class="flaticon-sports-2 text-theme-colored"></i>
                                    </a>
                                    <div class="pt-13">
                                        <h4 class="icon-box-title mt-0 mb-0 text-theme-colored">Taekwondo</h4>
                                        <p>The Korean traditional style </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="icon-box p-0 mb-30">
                                    <a href="#" class="icon icon-circled icon-bordered icon-gray icon-border-effect mb-0 mr-10 pull-left flip">
                                        <i class="flaticon-sports-7 text-theme-colored"></i>
                                    </a>
                                    <div class="pt-13">
                                        <h4 class="icon-box-title mt-0 mb-0 text-theme-colored">Boxing</h4>
                                        <p>Swarmer beats Boxer -  Slugger beats Swarmer -   Boxer beats Slugger</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="icon-box p-0 mb-30">
                                    <a href="#" class="icon icon-circled icon-bordered icon-gray icon-border-effect mb-0 mr-10 pull-left flip">
                                        <i class="flaticon-people text-theme-colored"></i>
                                    </a>
                                    <div class="pt-13">
                                        <h4 class="icon-box-title mt-0 mb-0 text-theme-colored">Tai Chi</h4>
                                        <p>Traditional Chinese style</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/about/4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Classes -->
    <section id="classes" class="bg-lighter">
        <div class="container pb-40">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Our <span class="text-theme-colored">Martial Arts</span> Programs</h2>
                        <p class="">Join our martial art club and be healthy.</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-30">
                        <div class="class-items bg-white border-1px p-20">
                            <div class="thumb">
                                <img class="img-fullwidth" src="~/images/classes/10.jpg" alt="">
                                <div class="viewtime">
                                    <a class="btn btn-theme-colored btn-flat mt-10"  href="@Url.Action("KarateClass", "Main", null)"> View Time</a>
                                </div>
                            </div>
                            <h3 class="">
                                <a href="@Url.Action("KarateClass", "Main", null)"><span class="text-theme-colored">Karate </span> |  Training</a>
                            </h3>
                            <div class="class-date"><b>Wednesday, Saturday :</b> <i class="fa fa-clock-o"></i> <em>06:00-07:30 pm</em></div>
                            <div class="class-date"><b>Sunday : </b><i class="fa fa-clock-o"></i> <em>08:00 - 09:00 am</em></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-30">
                        <div class="class-items bg-white border-1px p-20">
                            <div class="thumb">
                                <img class="img-fullwidth" src="~/images/classes/4.jpg" alt="">
                                <div class="viewtime">
                                    <a class="btn btn-theme-colored btn-flat mt-10" href="@Url.Action("TeakwondoClass", "Main", null)"> View Time</a>
                                </div>
                            </div>
                            <h3 class="">
                                <a href="@Url.Action("TeakwondoClass", "Main", null)"><span class="text-theme-colored">Taekwondo</span> |  Classes</a>
                            </h3>
                            <div class="class-date"><b>Monday : </b><i class="fa fa-clock-o"></i> <em>06:00 - 07:30 am</em></div>
                            <div class="class-date"><b>Thursday : </b><i class="fa fa-clock-o"></i> <em>07:00 - 08:30 am</em></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-30">
                        <div class="class-items bg-white border-1px p-20">
                            <div class="thumb">
                                <img class="img-fullwidth" src="~/images/classes/9.jpg" alt="">
                                <div class="viewtime">
                                    <a class="btn btn-theme-colored btn-flat mt-10" href="@Url.Action("TaiChiClass", "Main", null)"> View Time</a>
                                </div>
                            </div>
                            <h3 class="">
                                <a href="@Url.Action("TaiChiClass", "Main", null)"><span class="text-theme-colored">Tai Chi </span> | Teaching</a>
                            </h3>
                            <div class="class-date"><b>Wednesday : </b><i class="fa fa-clock-o"></i> <em>07:00 - 08:30 pm</em></div>
                            <div class="class-date">.</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-30">
                        <div class="class-items bg-white border-1px p-20">
                            <div class="thumb">
                                <img class="img-fullwidth" src="~/images/classes/6.jpg" alt="">
                                <div class="viewtime">
                                    <a class="btn btn-theme-colored btn-flat mt-10" href="@Url.Action("BoxingClass", "Main", null)"> View Time</a>
                                </div>
                            </div>
                            <h3 class="">
                                <a href="@Url.Action("BoxingClass", "Main", null)"><span class="text-theme-colored">Boxing</span> | Coaching</a>
                            </h3>
                            <div class="class-date"><b>Tuesday : </b><i class="fa fa-clock-o"></i> <em>06:00 - 07:30 pm</em></div>
                            <div class="class-date"><b>Saturday: </b><i class="fa fa-clock-o"></i> <em>07:00 - 08:30 am</em></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-30">
                        <div class="class-items bg-white border-1px p-20">
                            <div class="thumb">
                                <img class="img-fullwidth" src="~/images/classes/7.jpg" alt="">
                                <div class="viewtime">
                                    <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                </div>
                            </div>
                            <h3 class="">
                                <a href="#"><span class="text-theme-colored">Self Defense</span> | Clinic</a>
                            </h3>
                            <div class="class-date"><b>Special Batches </b></div>
                            <div class="class-date">. </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-30">
                        <div class="class-items bg-white border-1px p-20">
                            <div class="thumb">
                                <img class="img-fullwidth" src="~/images/classes/8.jpg" alt="">
                                <div class="viewtime">
                                    <a class="btn btn-theme-colored btn-flat mt-10" href="@Url.Action("YogaTraining", "Yoga", null)"> View Time</a>
                                </div>
                            </div>
                            <h3 class="">
                                <a href="@Url.Action("YogaTraining", "Yoga", null)"><span class="text-theme-colored">Yoga </span> | Therapy</a>
                            </h3>
                            <div class="class-date"><b>3 months Yoga training batches</b></div>
                            <div class="class-date"><b>Yoga therapy </b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Funfact -->
    @*<section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="images/bg/bg19.jpg" data-parallax-ratio="0.7">
        <div class="container pt-80 pb-80">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-smile mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="754" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Happy Student</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-rocket mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="375" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Success Sports</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-add-user mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="124" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Our Trainers</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-medal mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Award Won</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- Section: Divider -->
    <section class="divider" data-bg-img="~/images/bg/bg19.jpg">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <img class="img-responsive" src="~/images/about/hands-banner.jpg" />
                </div>
                <div class="col-md-6" data-bg-img="~/images/pattern/p6.png">
                    <div class="p-20">
                        <h2 class="text-uppercase text-theme-colored">Train under true Masters</h2>
                        <p>
                            In every martial arts it is important to get trained from a qualified and well experienced Master.
                            A true master can find your strength and weakness and can tune you accordingly. More than an instructor a true master is mentor and can
                            lead, guide and correct you to the real path of art.  <br /><br />
                            Zanshin Academy is committed to provide the qualified and well trained masters for each art of martial art.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: trainer -->
    <section id="trainer" class="bg-lighter">
        <div class="container pt-70 pb-40">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title text-uppercase">Our <span class="text-theme-colored"> Trainers</span></h2>
                        <p class="text-uppercase letter-space-2">Join our martial art club and be healthy.</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel-3col training-classes-carousel">
                            <div class="item">
                                <div class="trainer-item style2">
                                    <div class="trainer-thumb"> <img src="~/images/team/1.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                                    <div class="trainer-info pb-20">
                                        <div class="trainer-biography">
                                            <h3 class="text-white text-uppercase">Sensei Jojo Joseph</h3>
                                            <h5 class="text-white">Karate Master [4th Dan]</h5>
                                        </div>
                                        <div class="social-network pt-10">
                                            <ul class="list-inline">
                                                <li class="rotate"><a href="#"><i class="fa fa-facebook bg-theme-colored no-rotate"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                                <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trainer-item style2">
                                    <div class="trainer-thumb"> <img src="~/images/team/2.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                                    <div class="trainer-info pb-20">
                                        <div class="trainer-biography">
                                            <h3 class="text-white text-uppercase">Thomas Karedan</h3>
                                            <h5 class="text-white">Karate Master [1st Dan]</h5>
                                        </div>
                                        <div class="social-network pt-10">
                                            <ul class="list-inline">
                                                <li class="rotate"><a href="#"><i class="fa fa-facebook bg-theme-colored no-rotate"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                                <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trainer-item style2">
                                    <div class="trainer-thumb"> <img src="~/images/team/3.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                                    <div class="trainer-info pb-20">
                                        <div class="trainer-biography">
                                            <h3 class="text-white text-uppercase">Dominic Ralph</h3>
                                            <h5 class="text-white">Karate Master [1st Dan]</h5>
                                        </div>
                                        <div class="social-network pt-10">
                                            <ul class="list-inline">
                                                <li class="rotate"><a href="#"><i class="fa fa-facebook bg-theme-colored no-rotate"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                                <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                         
                            <div class="item">
                                <div class="trainer-item style2">
                                    <div class="trainer-thumb"> <img src="~/images/team/5.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                                    <div class="trainer-info pb-20">
                                        <div class="trainer-biography">
                                            <h3 class="text-white text-uppercase">George Alexandar</h3>
                                            <h5 class="text-white">Taichi Master [1st Dan]</h5>
                                        </div>
                                        <div class="social-network pt-10">
                                            <ul class="list-inline">
                                                <li class="rotate"><a href="#"><i class="fa fa-facebook bg-theme-colored no-rotate"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                                <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="item">
                                <div class="trainer-item style2">
                                    <div class="trainer-thumb"> <img src="~/images/team/4.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                                    <div class="trainer-info pb-20">
                                        <div class="trainer-biography">
                                            <h3 class="text-white text-uppercase">Master Anil Francis</h3>
                                            <h5 class="text-white">Taekwondo Master [6th Dan]</h5>
                                        </div>
                                        <div class="social-network pt-10">
                                            <ul class="list-inline">
                                                <li class="rotate"><a href="#"><i class="fa fa-facebook bg-theme-colored no-rotate"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter bg-theme-colored"></i></a></li>
                                                <li><a href="#"><i class="fa fa-dribbble bg-theme-colored"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   

    <!-- Section: Pricing Table -->
    <section id="pricing" class="bg-lighter">
        <div class="container pb-40">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="text-uppercase title">Our <span class="text-theme-colored"> Schedule</span></h2>
                        <p class="text-uppercase letter-space-2">An art of Timing</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4 hvr-float-shadow mb-sm-30">
                        <div class="pricing-table pb-0 mt-sm-0 maxwidth400 bg-lightest text-center">
                            <img src="~/images/pricing/1.jpg" alt="" class="img-fullwidth img-responsive">
                            <div class="pricing-title bg-black p-20">
                                <h3 class="package-type text-uppercase letter-space-1 mt-0 text-white">Karate Do</h3>
                                <h5 class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">Okinawan Shorin Ryi Seibukan</h5>
                            </div>
                            <div class="pricing-info">
                                <ul class="table-list list mt-0 no-bg no-border no-bullet">
                                    <li>Body Conditioning</li>
                                    <li>Art of Defence and Counter Attack</li>
                                    <li>Katas / Bunkai training</li>
                                    <li>Kumite Practice</li>
                                    <li>Periodical Grading</li>
                                </ul>
                            </div>
                            <div class="price-amount font-36">
                                <div class="font-weight-700 text-theme-colored">Rs.750* / <span class="font-14 text-uppercase">monthly </span></div>
                            </div>
                            <a href="@Url.Action("CourseRegister", "Main", null)" class="btn btn-lg btn-theme-colored text-uppercase btn-block pt-20 pb-20 btn-flat">Register Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 hvr-float-shadow mb-sm-30">
                        <div class="pricing-table pb-0 mt-sm-0 maxwidth400 bg-lightest text-center">
                            <img src="~/images/pricing/2.jpg" alt="" class="img-fullwidth img-responsive">
                            <div class="pricing-title bg-theme-colored p-20">
                                <h3 class="package-type text-uppercase letter-space-1 mt-0 text-white">Taekwondo</h3>
                                <h5 class="text-uppercase font-weight-400 text-white letter-space-1 mt-0">Korian Martial Arts</h5>
                            </div>
                            <div class="pricing-info">
                                <ul class="table-list list mt-0 no-bg no-border no-bullet">
                                    <li>Preparatory Training</li>
                                    <li>Art of Kicks and Punches</li>
                                    <li>Sparring Session</li>
                                    <li>Tournament Coaching</li>
                                    <li>Periodical Grading</li>
                                </ul>
                            </div>
                            <div class="price-amount font-36">
                                <div class="font-weight-700 text-theme-colored">Rs.750* / <span class="font-14 text-uppercase">monthly</span></div>
                            </div>
                            <a href="@Url.Action("CourseRegister", "Main", null)" class="btn btn-lg btn-dark text-uppercase btn-block pt-20 pb-20 btn-flat">Register Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 hvr-float-shadow mb-sm-30">
                        <div class="pricing-table pb-0 mt-sm-0 maxwidth400 bg-lightest text-center">
                            <img src="~/images/pricing/3.jpg" alt="" class="img-fullwidth img-responsive">
                            <div class="pricing-title bg-black p-20">
                                <h3 class="package-type text-uppercase letter-space-1 mt-0 text-white">Tai Chi</h3>
                                <h5 class="text-uppercase font-weight-400 text-gray letter-space-1 mt-0">Martial Arts & Healing System</h5>
                            </div>
                            <div class="pricing-info">
                                <ul class="table-list list mt-0 no-bg no-border no-bullet">
                                    <li>Mind / body preparation</li>
                                    <li>Chi Kung Training</li>
                                    <li>Pranin Energization Techniques</li>
                                    <li>Moving Mediation</li>
                                    <li>Tai Chi Forms</li>
                                </ul>
                            </div>
                            <div class="price-amount font-36">
                                <div class="font-weight-700 text-theme-colored">Rs.750* / <span class="font-14 text-uppercase">monthly</span></div>
                            </div>
                            <a href="@Url.Action("CourseRegister", "Main", null)" class="btn btn-lg btn-theme-colored text-uppercase btn-block pt-20 pb-20 btn-flat">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Gallery -->
    <section id="gallery">
        <div class="container">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="text-uppercase line-bottom-center mt-0">Photo <span class="text-theme-colored font-weight-600">Gallery</span></h2>
                        <div class="title-icon">
                            <i class="flaticon-charity-hand-holding-a-heart"></i>
                        </div>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati! <br>ipsum dolor sit Rem autem voluptatem obcaecati</p>*@
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Portfolio Gallery Grid -->
                        <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
                            <!-- Portfolio Item Start -->
                            @foreach (var item in Model)
                            {
                                <div class="gallery-item">
                                    <div class="thumb">
                                        <img alt="project" src="~/images/gallery/@item.PhotoName" class="img-fullwidth">
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="~/images/gallery/@item.PhotoName" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                            <!-- Portfolio Item End -->
         
                        </div>
                        <!-- End Portfolio Gallery Grid -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Divider: Testimonials -->
    @*<section class="divider layer-overlay overlay-dark-9" data-bg-img="images/bg/bg19.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="line-bottom-center text-white text-center mt-0 mb-30">Our Happy <span class="text-theme-colored">Clients</span> says</h2>
                    <div class="owl-carousel-1col testimonials" data-dots="true">
                        <div class="item">
                            <div class="testimonial-wrapper text-center">
                                <div class="thumb"><img class="img-circle" alt="" src="~/images/testimonials/1.jpg"></div>
                                <div class="content pt-10">
                                    <p class="font-14 text-white mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</p>
                                    <i class="fa fa-quote-right"></i>
                                    <h4 class="author text-theme-colored mb-0">Catherine Grace</h4>
                                    <h6 class="title text-gray-lightgray mt-0 mb-15">Designer</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-wrapper text-center">
                                <div class="thumb"><img class="img-circle" alt="" src="~/images/testimonials/2.jpg"></div>
                                <div class="content pt-10">
                                    <p class="font-14 text-white mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</p>
                                    <i class="fa fa-quote-right"></i>
                                    <h4 class="author text-theme-colored mb-0">Catherine Grace</h4>
                                    <h6 class="title text-gray-lightgray mt-0 mb-15">Designer</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-wrapper text-center">
                                <div class="thumb"><img class="img-circle" alt="" src="~/images/testimonials/1.jpg"></div>
                                <div class="content pt-10">
                                    <p class="font-14 text-white mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</p>
                                    <i class="fa fa-quote-right"></i>
                                    <h4 class="author text-theme-colored mb-0">Catherine Grace</h4>
                                    <h6 class="title text-gray-lightgray mt-0 mb-15">Designer</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    <!-- Section: Blog -->
    <section id="blog" class="bg-lighter">
        <div class="container">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title text-uppercase">News & <span class="text-theme-colored">Events</span></h2>
                        <p class="text-uppercase letter-space-2">Join our martial art club and be healthy.</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 mb-sm-20">
                        <div class="owl-carousel-3col">
                            @foreach (var item in ViewBag.Blog)
                            {
                                <div class="item">
                                    <article class="post clearfix maxwidth600 mb-sm-30">
                                        <div class="entry-content bg-white border-1px p-20">
                                            <h4 class="entry-title mt-0 pt-0"><a href="#">@item.Event</a></h4>
                                            <div class="entry-date">
                                                <i class="fa fa-thumbs-o-up mr-5"></i> @item.NewsEventsID
                                                <i class="fa fa-comments-o ml-5 mr-5"></i> 
                                                <i class="fa fa-calendar ml-5 mr-5"></i>@item.EventFrom - @item.EventTo
                                            </div>
                                            <div class="thumb mt-20">
                                                <img src="~/images/news/@item.Image" height="150" alt="">
                                            </div>
                                            <p class="text-left mb-20 mt-15"> 
                                            @helper Truncate(string input, int length)
                                            {
                                                if (input.Length <= length)
                                                {
                                                        @input
                                                }
                                                else
                                                {
                                                        @input.Substring(0, length)<text>...</text>
                                                }
                                            }
                                            @Truncate(item.Description, 150)
                                            
                                            </p>
                                            <a class="btn btn-sm btn-theme-colored" href="@Url.Action("NewsEvents", "Main", new { id=@item.NewsEventsID})">Read more</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Clients -->
    <section class="bg-theme-colored">
        <div class="container  pt-0 pb-0">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel-6col text-center">
                            <div class="item"> <a href="#"><img src="~/images/clients/w1.png" alt=""></a> </div>
                            <div class="item"> <a href="#"><img src="~/images/clients/w2.png" alt=""></a> </div>
                            <div class="item"> <a href="#"><img src="~/images/clients/w3.png" alt=""></a> </div>
                            <div class="item"> <a href="#"><img src="~/images/clients/w4.png" alt=""></a> </div>
                            <div class="item"> <a href="#"><img src="~/images/clients/w5.png" alt=""></a> </div>
                            <div class="item"> <a href="#"><img src="~/images/clients/w6.png" alt=""></a> </div>
                            <div class="item"> <a href="#"><img src="~/images/clients/w3.png" alt=""></a> </div>
                            <div class="item"> <a href="#"><img src="~/images/clients/w4.png" alt=""></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- end main-content -->

