﻿
@{
    ViewBag.Title = "Kobudo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://placehold.it/1920x942">
        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">Kobudo</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section>
        <div class="container">
            
        </div>
    </section>
</div>
<!-- LayerSlider stylesheet -->
<link rel="stylesheet" href="/layerslider/css/layerslider.css" type="text/css">

<!-- External libraries: jQuery & GreenSock -->
<script src="~/Content/layerslider/js/jquery.js" type="text/javascript"></script>
<script src="~/Content/layerslider/js/greensock.js" type="text/javascript"></script>

<!-- LayerSlider script files -->
<script src="~/Content/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="~/Content/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>