﻿
@{
    ViewBag.Title = "KobudoClass";
}

 <!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://zanshinacademy.in/images/classes/KobudoClassBanner.jpg">
        <div class="container pt-100 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">Kobudo Training</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Classes details -->
    <section>
        <div class="container pb-30">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-5 pr-60 pr-sm-0 mt-sm-60">
                        <div class="widget">
                            <h4 class="widget-title line-bottom text-uppercase bg-theme-colored p-10 text-white">Kubodo Class</h4>
                            <div class="opening-hours">
                                <ul class="list-border">
                                    <li class="clearfix">
                                        <span>Class Duration :  </span>
                                        <div class="value pull-right flip"> 2 hours - 2.30 hours</div>
                                    </li>
                                    <li class="clearfix">
                                        <span>Course Duration :  </span>
                                        <div class="value pull-right flip">3 -4 months</div>
                                    </li>
                                    <li class="clearfix">
                                        <span> Training Schedule</span>
                                        <div class="value pull-right flip">On Demand </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title line-bottom text-uppercase bg-theme-colored p-10 text-white">Pricing</h4>
                            <div class="opening-hours">
                                <ul class="list-border">
                                    <li class="clearfix">
                                        <span> Course Fee :  </span>
                                        <div class="value pull-right flip"> Rs.15000/-</div>
                                    </li>
                                    <li class="clearfix">
                                        <span> Initial Payment :</span>
                                        <div class="value pull-right flip"> Rs.10000/- </div>
                                    </li>
                                    

                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title line-bottom text-uppercase bg-theme-colored p-10 text-white">Our Trainers</h4>
                            <div class="latest-posts">
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="~/images/team/jojo_joseph.jpg" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Sensai Jojo Joseph</h4>
                                        <p class="text-gray font-13">Chief Instructor [4th Dan]</p>
                                        <a href="page-trainer-details.html" class="font-11">View Details</a>
                                    </div>
                                </article>
                                @*<article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Thomas Karedan</h4>
                                        <p class="text-gray font-13">Instructor [1st Dan]</p>
                                        <a href="page-trainer-details.html" class="font-11">View Details</a>
                                    </div>
                                </article>
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Dominic Ralph</h4>
                                        <p class="text-gray font-13">Instructor</p>
                                        <a href="page-trainer-details.html" class="font-11">View Details</a>
                                    </div>
                                </article>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="single-class-details">
                            <img src="http://zanshinacademy.in/images/classes/KubodoClassPage.jpg" class="img-fullwidth" alt="">
                            <div class="pull-left flip">
                                <p><span class="text-theme-colored font-28">Rs.15000</span>/course</p>
                            </div>
                            <div class="pull-right flip">
                                <p class="mt-20">Class Schedule : <strong>On demand special training</strong></p>
                            </div>
                        </div>
                        <div class="classes-schedules">
                            <dl class="dl-horizontal mt-30 mb-50">
                                <dt>Kobudo Style</dt>
                                <dd>
                                   Okinawan Kobudo
                                </dd>
                                <dt>Affiliated To</dt>
                                <dd>
                                    Kyokai Inernational Okinawan Kobudo
                                </dd>
                                <dt>Study Mode</dt>
                                <dd>
                                    <ul>
                                        <li>
                                            Bo 15 Basics movement (Hojo Undo Dai - 1,2,3)
                                        </li>
                                        <li>
                                            Bo Katas 
                                        </li>
                                        <li>Tonfa Basics</li>
                                        <li>Tonfa Katas</li>
                                        <li>Sai Basics</li>
                                        <li>Sai Katas</li>
                                        <li>Nanchacku Basics</li>
                                        <li>Nanchacku Kata</li>
                                    </ul>
                                    
                                </dd>
                            </dl>

                            <h5>The Origins of Kobudo:</h5>
                            <p>The fighting traditions that make up the arts of kobudo were handed down for many generations through word of mouth or oral tradition for many generations before ever being written down. It is therefore difficult to determine exactly where or when they began, which is likely exactly as the original proponents of these arts had intended, given that until relatively recently only certain people were allowed to train with weapons, techniques were carefully guarded and training was often done in relative secrecy. Despite the challenges in ‘authenticating’ these traditions, as many Western scholars require written documents as ‘the ultimate truth’, we can trace the roots of modern Kobudo back to feudal Okinawa and Japan, ancient China and to pre-colonial Philipines (Platt, Williams and Dixon, 1998: 30-31</p>

                            <h5>Okinawan Kobudo:</h5>
                           <p>
                               According to a senior student of Sensei Kim, Patrick McCarthy, in his book Ancient Okinawan Martial Arts, one of the earliest accounts of one of the kobudo fighting forms is in the book Okinawa’s 1000 Year History (1999:9). It contains an account of the Ajii (one of the ranks of Okinawan nobility) using bojutsu around the year 1314. McCarthy also mentions another book The Biography of Jiryo, which describes the use of a ‘yaribo’ during the Keicho period from 1596-1615. These early accounts suggest that weapons were used in the Ryukyu kingdom at these times but do not identify whether these weapon defence techniques were indigenous to the Ryukyu islands or were imported as the empty handed Chinese martial arts were. In China the weapon arts were and are as intricate a part of martial arts training as are the empty hand techniques.

                           </p>
                            @*<h5>Why Should I Do The Course?</h5>
                                <p>With life expectancy in Australia at a record high, not to mention the continued growth of serious medical conditions such as diabetes and obesity, there’s never been a bigger need for personal health and fitness services.</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Registration Form -->
    <section id="registration-form" class="divider layer-overlay overlay-darkblue" data-bg-img="http://placehold.it/1920x942">
        <div class="container-fluid pb-80 pt-60">
            <div class="section-title mb-30">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="title text-theme-colored">Class Registration</h2>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <!-- Appilication Form Start-->
                        <form id="reservation_form" name="reservation_form" class="reservation-form p-50 pt-80 pb-80 mb-0 bg-light" method="post" action="includes/reservation.php">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mb-30">
                                        <input placeholder="Enter Name" type="text" id="reservation_name" name="reservation_name" required="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input placeholder="Phone" type="text" id="reservation_phone" name="reservation_phone" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input type="text" placeholder="Email" id="register_email" name="register_email" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <label>Class Categories</label>
                                        <div class="styled-select">
                                            <select id="person_select" name="person_select" class="form-control" required="">
                                                <option value="">Choose Martial Arts</option>
                                                <option value="Subject-1">Karate</option>
                                                <option value="Subject-2">Kobudo</option>
                                                <option value="Subject-3">Aikido</option>
                                                <option value="Subject-5">Teakwondo</option>
                                                <option value="Subject-6">Boxing</option>
                                                <option value="Subject-7">Tai Chi</option>
                                                <option value="Subject-8">Yoga</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <label>Class Time</label>
                                        <div class="styled-select">
                                            <select id="event_post" name="event_post" class="form-control" required="">
                                                <option value="">Select</option>
                                                <option value="Event 1">Morning</option>
                                                <option value="Event 2">Evening</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mb-0 mt-10">
                                        <input name="form_botcheck" class="form-control" type="hidden" value="">
                                        <button type="submit" class="btn btn-theme-colored btn-xl btn-submit btn-block" data-loading-text="Please wait...">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Application Form End-->
                        <!-- Application Form Validation Start-->
                        <script type="text/javascript">
                $("#reservation_form").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                    $(form).ajaxSubmit({
                      dataType:  'json',
                      success: function(data) {
                        if( data.status == 'true' ) {
                          $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });
                        </script>
                        <!-- Application Form Validation Start -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Classes -->
    @*<section id="classes" class="bg-lighter">
            <div class="container pb-40">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title text-uppercase">Our <span class="text-theme-colored">Classes</span></h2>
                            <p class="text-uppercase letter-space-2">Join our martial art club and be healthy.</p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-30">
                            <div class="class-items bg-white border-1px p-20">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="http://placehold.it/317x317" alt="">
                                    <div class="viewtime">
                                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                    </div>
                                </div>
                                <h3 class="text-uppercase font-22">
                                    <a href="#"><span class="text-theme-colored">Private </span> | Group Lessons</a>
                                </h3>
                                <div class="class-date letter-space-2 font-12"><i class="fa fa-clock-o"></i> <em>01:00pm - 03:00 pm</em></div>
                                <div class="class-date letter-space-2 font-12 mb-10"><i class="fa fa-map-marker"></i> <em> 121 King Street, Melbourne.</em></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-30">
                            <div class="class-items bg-white border-1px p-20">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="http://placehold.it/317x317" alt="">
                                    <div class="viewtime">
                                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                    </div>
                                </div>
                                <h3 class="text-uppercase font-22">
                                    <a href="#"><span class="text-theme-colored">Private </span> | Group Lessons</a>
                                </h3>
                                <div class="class-date letter-space-2 font-12"><i class="fa fa-clock-o"></i> <em>01:00pm - 03:00 pm</em></div>
                                <div class="class-date letter-space-2 font-12 mb-10"><i class="fa fa-map-marker"></i> <em> 121 King Street, Melbourne.</em></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-30">
                            <div class="class-items bg-white border-1px p-20">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="http://placehold.it/317x317" alt="">
                                    <div class="viewtime">
                                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                    </div>
                                </div>
                                <h3 class="text-uppercase font-22">
                                    <a href="#"><span class="text-theme-colored">Private </span> | Group Lessons</a>
                                </h3>
                                <div class="class-date letter-space-2 font-12"><i class="fa fa-clock-o"></i> <em>01:00pm - 03:00 pm</em></div>
                                <div class="class-date letter-space-2 font-12 mb-10"><i class="fa fa-map-marker"></i> <em> 121 King Street, Melbourne.</em></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
</div>
<!-- end main-content -->

