﻿@model IEnumerable<ZanshinAcademy.Models.NewsEvent>

@{
    ViewBag.Title = "NewsEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start main-content -->
<div class="main-content">
@using (Html.BeginForm())
{
    <!-- Section: About -->
    <section id="about">
        <div class="container">
            <div class="section-content">
                <h2>News & Events</h2>
                <hr />
                <div class="row">
               
                    @foreach (var item in ViewBag.LastNews)
                    {
                        <div class="col-md-6">
                            <h5 class="">@item.EventFrom - @item.EventFrom</h5>
                            <h3 class="mt-0">@item.Event</h3>
                            <p>@item.Description</p>
                        </div>
                        <div class="col-md-6">
                            <img src="~/images/news/@item.Image" alt="">
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    <!-- Section: Classes -->
    <section id="classes" class="bg-lighter">
    
        <div class="container pb-40">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">News &amp;<span class="text-theme-colored">&nbsp; Events </span></h2>
                        <p class="">News Archives</p>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-4 mb-30">
                        <div class="class-items bg-white border-1px p-20">
                            <div class="thumb">
                                <img class="img-fullwidth" src="~/images/news/@item.Image" alt="">
                                <div class="viewtime">
                                    <a class="btn btn-theme-colored btn-flat mt-10" href="@Url.Action("NewsEvents", "Main", new { id = item.NewsEventsID })"> View Event</a>
                                </div>
                            </div>
                            <h4 class="">
                                <a href="#"> @item.Event</a>
                            </h4>
                            <p>
                                @helper Truncate(string input, int length)
                                {
                                    if (input.Length <= length)
                                    {
                                       @input
                                    }
                                    else
                                    {
                                       @input.Substring(0, length)<text>...</text>
                                    }
                                 }
                                    @Truncate(item.Description, 150)
                            </p>
                            <div class="class-date"><i class="fa fa-clock-o"></i> <em>@item.EventFrom - @item.EventTo</em></div>
                            
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </section>

}
</div>
<!-- end main-content -->