﻿
@{
    ViewBag.Title = "PhotoGallery";
}

  <!-- Section: Gallery -->
<section id="gallery">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-uppercase line-bottom-center mt-0">Photo <span class="text-theme-colored font-weight-600">Gallery</span></h2>
                    <div class="title-icon">
                        <i class="flaticon-charity-hand-holding-a-heart"></i>
                    </div>
                    <p>Karate Class Pictures</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Portfolio Gallery Grid -->

                    <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
                        <!-- Portfolio Item Start -->
                        @foreach (var items in Model)
                        {
                            <div class="gallery-item">
                                <div class="thumb">
                                    <img alt="project" src="~/images/gallery/@items.PhotoName" class="img-fullwidth">
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a src="~/images/gallery/@items.PhotoName" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- Portfolio Item End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>