﻿
@{
    ViewBag.Title = "Zanshing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">

    <!-- Section: inner-header -->
    @*<img src="~/images/bg/zanshin_banner.jpg" />*@
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://zanshinacademy.in/images/bg/zanshin_banner.jpg">
      <div class="container pt-90 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Zanshin Academy of Martial Arts</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Section: About -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img class="pull-left mr-10" src="~/images/about/awarnesss.gif" alt="">
            <p>“Zanshin” is a Japanese term and its literary meaning is ‘remaining mind’, which is essential for all martial arts. Nothing but training mind to be alert and aware is the core principle of all martial arts and related training.</p>
              <p>Zanshin Academy of Martial Arts is a venture to comprise many martial arts under a single roof. Currently we are facilitated the training for Karate, Kobudo, Aikido, Taekwondo, Boxing , Tai Chi and Yoga under highly qualified trainers. </p>
              <p>Training modules are scheduled by various batches in  morning and evening from Sunday to Saturday.</p>
            <div class="clearfix"></div>
            <h5>Programs</h5>
              <h6>Karate - Okinawan Shorin-Ryu Seibukan sylte</h6>
            <p>The Karate is affiliated to International Okinawan Shorin-Ryu Seibukan Karate Do India and is being trained by the Sensei Jojo Joseph, 4th Dan Karate. As the knowledge sharing and technical updates we are conducting regular seminars by the patronage of the most senior graded masters and the masters from other styles. </p>
              <h5>Kobudo</h5>
              <p>Karate and Kobudo are said to be brother and sisters of Okinawan martial arts curriculum. If the Karate is the empty hand self defence system, Kobudo is the self defence with primitive weapons like six foot staff(bo) , Nanchacku, Sai, Tonfa etc. Without Kobudo training Karate would not be completed as both are complementary each others. Kobudo is also taught by Sensei Jojo Joseph.</p>
              <h5>Aikido</h5>
              <p>Aikido is a Japanese Martial Arts system that focus on the unification of universal energy and it’s method of combat is using the opponent’s energy against himself. The system is mostly associated with joint locks, throws etc. Sensei Jojo Joseph is delivering special coaching on this unique martial art.</p>
              <div class="separator separator-rouned">
              <i class="fa fa-cog fa-spin"></i>
            </div>
            <div class="row">
              
              <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/about/logoone-289x300.gif" class="img-fullwidth"> </a> </div>
              <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/about/logo3-289x300.gif" class="img-fullwidth"> </a> </div>
              <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/about/logo2-289x300.gif" class="img-fullwidth"> </a> </div>
                <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="~/images/about/taichi.gif" class="img-fullwidth"> </a> </div>
            </div>
            <div class="separator separator-rouned">
              <i class="fa fa-cog"></i>
            </div>
            <h5>Taekwondo</h5>
            <p>We also included Taekwondo as another important martial arts, which originated in Korea. This Korean Martial arts system is handled by Ms. Athira Shaji [1st Dan] who is an excellent lady coach. </p>
          <h5>Boxing</h5>
              <p>Without Boxing elements no martial arts cannot be existed. Zanshin Academy caters the original International Boxing system in its floor. Deepak Alexandar Chacko is the Chief Instructor for boxing. </p>
         
          <h5>Tai Chi</h5>
              <p>Tai Chi is an ancient martial arts which was kept as a treasure and have been trained secretly by Chinese people. Recently they have disclosed their magnificent system of energy rendering and also a healing system to the world. It is very uncommon and rare Tai Chi training centers outside Chinese culture and we are blessed with Master George Alexander who is an expert trainer in this. His expertise is extended to Yoga and Karate. He is holding a 1st Dan Black Belt in Karate too. </p>
          <h5>Yoga Training &amp; Therapy</h5>
              <p>Although Yoga is essentially not a martial art, it encompasses all the elements of Chinese and Japanese system of energy conservation and usage in different dimension. Yoga is one of the most powerful tool to empower body, mind and spirt which is the core of all martial arts and healing systems.  This floor is spares additional space for this sacred Indian art. Apart from training we facilitated for yoga therapy for many life style diseases like Arthritis, Asthma, Diabetes, Obesity, High BP etc. MSc Yoga graduated experienced team – Dominic Ralph, Beena Menon, Jayesh Dhananjayan, Ajithanath and George Alexander are behind the Yoga training and therapy.</p>
           </div>
        </div>
      </div>
    </section>
  </div>


