﻿@model ZanshinAcademy.Models.UniformSupply

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UniformSupply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uniform.PurchasedFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uniform.PurchasedFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountCollected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountCollected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UniformSupplyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
