﻿@model IEnumerable<ZanshinAcademy.Models.UniformSupply>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Uniform Supply</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uniform.PurchasedFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountCollected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uniform.PurchasedFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountCollected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UniformSupplyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UniformSupplyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UniformSupplyID })
        </td>
    </tr>
}

</table>
