﻿
@{
    ViewBag.Title = "YogaTraining";
}

  <!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://zanshinacademy.in/images/classes/YogaClassBanner.jpg">
        <div class="container pt-100 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">Yoga  Basic Course</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Classes details -->
    <section>
        <div class="container pb-30">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-5 pr-60 pr-sm-0 mt-sm-60">
                        <div class="widget">
                            <h4 class="widget-title line-bottom text-uppercase bg-theme-colored p-10 text-white">Yoga  Basic Course</h4>
                            <div class="opening-hours">
                                <ul class="list-border">
                                    <li class="clearfix">
                                        <span>Course Duration :  </span>
                                        <div class="value pull-right flip"> 3 months (75 hours)</div>
                                    </li>
                                    <li class="clearfix">
                                        <span> Training Session</span>
                                        <div class="value pull-right flip"> 2 hours </div>
                                    </li>
                                    <li class="clearfix">
                                        <span> Training Days </span>
                                        <div class="value pull-right flip"> Tuesday, Thursday & Saturday </div>
                                    </li>
                                    <li class="clearfix">
                                        <span>Time</span>
                                        <div class="value pull-right flip"> 6.00 am to 8.00 am </div>
                                    </li>
                                    <li class="clearfix">
                                        <span><strong> Cyllabus :</strong> </span>
                                        <div class="value pull-right flip">
                                            <p>
                                                Yoga Philosophy & Theory<br />
                                                Warmup/ loosening excercise, Sukshma Vyayamas, Breathing Excercise<br />
                                                Asanas, Pranayama, Mediatation  <br />
                                                Kriyas (Jala Neti, Sutra Neti, Vamana Dauti, Jyoti Trataka)
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title line-bottom text-uppercase bg-theme-colored p-10 text-white">Pricing</h4>
                            <div class="opening-hours">
                                <ul class="list-border">
                                    <li class="clearfix">
                                        <span> Course Fee:  </span>
                                        <div class="value pull-right flip"> Rs.6000/-</div>
                                    </li>
                                    <li class="clearfix">
                                        <span>Post training follow-up classes :</span>
                                        <div class="value pull-right flip"> Rs.100/class </div>
                                    </li>
                                    <li class="clearfix">
                                        <span> Certification : </span>
                                        <div class="value pull-right flip"> Yoga Basic Knowledge Certificate </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title line-bottom text-uppercase bg-theme-colored p-10 text-white">Our Trainers</h4>
                            <div class="latest-posts">
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">George Alexandar</h4>
                                        <p class="text-gray font-13">Instructor<br />[Yogacharyan, Tai Chi Trainier, 1st Dan Karate]</p>
                                        <a href="#" class="font-11">View Details</a>
                                    </div>
                                </article>
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Dominic Ralph</h4>
                                        <p class="text-gray font-13">Instructor<br /> [MSc Yoga, Reiki 3rd Degree, 1st Dan Karate]</p>
                                        <a href="#" class="font-11">View Details</a>
                                    </div>
                                </article>
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Beena Menon</h4>
                                        <p class="text-gray font-13">Instructor<br /> [MSc Yoga, PGDC- Councelling]</p>
                                        <a href="#" class="font-11">View Details</a>
                                    </div>
                                </article>
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Jayesh Dhananjayan</h4>
                                        <p class="text-gray font-13">Instructor<br /> [MSc Yoga]</p>
                                        <a href="#" class="font-11">View Details</a>
                                    </div>
                                </article>
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Ajithanath</h4>
                                        <p class="text-gray font-13">Instructor<br /> [MSc Yoga]</p>
                                        <a href="#" class="font-11">View Details</a>
                                    </div>
                                </article>
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb mr-30" href="#">
                                        <img width="120" src="http://placehold.it/450x502" alt="" class="img-thumbnail">
                                    </a>
                                    <div class="post-right">
                                        <h4 class="post-title mt-10 mb-5 text-theme-colored mb-0">Indu George</h4>
                                        <p class="text-gray font-13">Counsellor<br /> [MA Psychology, PGDC - Councelling]</p>
                                        <a href="#" class="font-11">View Details</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="single-class-details">
                            <img src="http://zanshinacademy.in/images/classes/YogaClass1.jpg" class="img-fullwidth" alt="">
                            <div class="pull-left flip">
                                <p><span class="text-theme-colored font-28">Rs.6000</span>/course</p>
                            </div>
                            <div class="pull-right flip">
                                <p class="mt-20">Tue, Thu, Sat : <strong>6.00 am to 8.00 am</strong> </p>
                            </div>
                        </div>
                        <div class="classes-schedules">
                            <dl class="dl-horizontal mt-30 mb-50">
                                <dt>Yoga Branch</dt>
                                <dd>
                                    Raja Yoga
                                </dd>
                                <dt>Yoga System</dt>
                                <dd>
                                    Ashtanga Yoga, Hatha Yoga
                                </dd>
                                <dt>Study Mode</dt>
                                <dd>
                                    <p>
                                        Yoga Philosophy ,
                                        Warmup/ loosening excercise, Sukshma Vyayamas, Breathing Excercise,
                                        Basic Asanas, Pranayama preparatory practice , light mediatation,
                                        Kriyas
                                    </p>
                                </dd>
                            </dl>

                            <h5>Highlights</h5>
                            <ul class="list arrow-right">
                                <li><span>Lessons from qualified and experience hands</span></li>
                                <li><span>Modules designed for all age groups and fitness level</span></li>
                                <li><span>Individula Attention given to participants</span></li>
                                <li><span>Theorectical explanation for every practices</span></li>
                                <li><span>Female &amp; Male instructors for personal guidence</span></li>
                                <li><span>Follow-up classes</span></li>
                                <li><span>Full support provided throughout each module</span></li>
                            </ul>

                            <h5>Who Should Attend?</h5>
                            <ul>
                                <li>Since it is the basic course that deisgned for young and old, strong and weak, healthy and sick alike, those who are medically fit for moderate physical exertion can join to the course</li>
                                <li>For childern 12 years above is more suitable otherwise they are keen to follow the instruction.</li>
                                <li>Old people can join. No upper age limit. </li>
                                <li>Those who are already have pervious experience in Yoga and want to know more the system can also join</li>
                            </ul>
                            <h5>Why Yoga?</h5>
                            <p>
                                Yoga is multi-dimensional. Those who want to keep his or her body and mind healthy, Yoga is the best option; for all life style deceases Yoga is the answer as a holistic treatment. It is also the salvation path for those who seeks spiritual wisdom.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Registration Form -->
    <section id="registration-form" class="divider layer-overlay overlay-darkblue" data-bg-img="http://placehold.it/1920x942">
        <div class="container-fluid pb-80 pt-60">
            <div class="section-title mb-30">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="title text-theme-colored">Class Registration</h2>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <!-- Appilication Form Start-->
                        <form id="reservation_form" name="reservation_form" class="reservation-form p-50 pt-80 pb-80 mb-0 bg-light" method="post" action="includes/reservation.php">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mb-30">
                                        <input placeholder="Enter Name" type="text" id="reservation_name" name="reservation_name" required="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input placeholder="Phone" type="text" id="reservation_phone" name="reservation_phone" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <input type="text" placeholder="Email" id="register_email" name="register_email" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <label>Class Categories</label>
                                        <div class="styled-select">
                                            <select id="person_select" name="person_select" class="form-control" required="">
                                                <option value="">Choose Martial Arts</option>
                                                <option value="Subject-1">Karate</option>
                                                <option value="Subject-2">Kobudo</option>
                                                <option value="Subject-3">Aikido</option>
                                                <option value="Subject-5">Teakwondo</option>
                                                <option value="Subject-6">Boxing</option>
                                                <option value="Subject-7">Tai Chi</option>
                                                <option value="Subject-8">Yoga</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-30">
                                        <label>Class Time</label>
                                        <div class="styled-select">
                                            <select id="event_post" name="event_post" class="form-control" required="">
                                                <option value="">Select</option>
                                                <option value="Event 1">Morning</option>
                                                <option value="Event 2">Evening</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mb-0 mt-10">
                                        <input name="form_botcheck" class="form-control" type="hidden" value="">
                                        <button type="submit" class="btn btn-theme-colored btn-xl btn-submit btn-block" data-loading-text="Please wait...">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Application Form End-->
                        <!-- Application Form Validation Start-->
                        <script type="text/javascript">
                $("#reservation_form").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                    $(form).ajaxSubmit({
                      dataType:  'json',
                      success: function(data) {
                        if( data.status == 'true' ) {
                          $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });
                        </script>
                        <!-- Application Form Validation Start -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Classes -->
    @*<section id="classes" class="bg-lighter">
            <div class="container pb-40">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title text-uppercase">Our <span class="text-theme-colored">Classes</span></h2>
                            <p class="text-uppercase letter-space-2">Join our martial art club and be healthy.</p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-30">
                            <div class="class-items bg-white border-1px p-20">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="http://placehold.it/317x317" alt="">
                                    <div class="viewtime">
                                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                    </div>
                                </div>
                                <h3 class="text-uppercase font-22">
                                    <a href="#"><span class="text-theme-colored">Private </span> | Group Lessons</a>
                                </h3>
                                <div class="class-date letter-space-2 font-12"><i class="fa fa-clock-o"></i> <em>01:00pm - 03:00 pm</em></div>
                                <div class="class-date letter-space-2 font-12 mb-10"><i class="fa fa-map-marker"></i> <em> 121 King Street, Melbourne.</em></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-30">
                            <div class="class-items bg-white border-1px p-20">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="http://placehold.it/317x317" alt="">
                                    <div class="viewtime">
                                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                    </div>
                                </div>
                                <h3 class="text-uppercase font-22">
                                    <a href="#"><span class="text-theme-colored">Private </span> | Group Lessons</a>
                                </h3>
                                <div class="class-date letter-space-2 font-12"><i class="fa fa-clock-o"></i> <em>01:00pm - 03:00 pm</em></div>
                                <div class="class-date letter-space-2 font-12 mb-10"><i class="fa fa-map-marker"></i> <em> 121 King Street, Melbourne.</em></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-30">
                            <div class="class-items bg-white border-1px p-20">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="http://placehold.it/317x317" alt="">
                                    <div class="viewtime">
                                        <a class="btn btn-theme-colored btn-flat mt-10" href="#"> View Time</a>
                                    </div>
                                </div>
                                <h3 class="text-uppercase font-22">
                                    <a href="#"><span class="text-theme-colored">Private </span> | Group Lessons</a>
                                </h3>
                                <div class="class-date letter-space-2 font-12"><i class="fa fa-clock-o"></i> <em>01:00pm - 03:00 pm</em></div>
                                <div class="class-date letter-space-2 font-12 mb-10"><i class="fa fa-map-marker"></i> <em> 121 King Street, Melbourne.</em></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
</div>
<!-- end main-content -->


