﻿@model ZanshinAcademy.Models.Uniform

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Cpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Uniform</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchasedFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasedFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealerPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealerPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UniformID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
